<%
  width = (@hasAccess ? 600 : 320)
  height = (@hasAccess ? 525 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle, { :includeToolVersion => true }) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
    <% if !@context['wbErrorMsg'].nil? and !@context['wbErrorMsg'].empty? %> 
      <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) %>
    <% end %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      {
        :toolHelpOverview =>
        "
        <b>Overview</b>
        <p>This tool performs statistically based splicing detection for circular and linear isoforms from RNA-Seq data. The tool's statistical algorithm increases the sensitivity and specificity of circularRNA detection from RNA-Seq data by quantifying circular and linear RNA splicing events at both annotated and un-annotated exon boundaries.</p>
        <b>Inputs</b>
        <p>Your input files should be single-end or paired-end FASTQ files. We currently only support phred64 formatted files. You can submit any number of input files for processing; we will process each single-end input file (or pair of paired-end input files) and upload the results from each run to its own subdirectory in your Genboree Database. If you are submitting paired-end FASTQ files for processing, the FASTQ files (not the archives containing the FASTQ files!) must follow a certain naming convention: read1 must end in _1 or _R1, and read2 must end in _2 or _R2.</p>
        Some examples:
        <br>
        <br>
        <ul>
          <li>SAMPLENAME_1.fastq and SAMPLENAME_2.fastq</li>
          <li>SAMPLENAME_R1.fq, SAMPLENAME_R2.fq</li>
        </ul>
        <p>Your inputs can be compressed in one large archive, in multiple archives, etc. All that matters for processing is that your paired-end FASTQ files end with the appropriate suffix (_1 and _2 OR _R1 and _R2). If your file is single-end, it should either NOT include one of these suffixes or should end in _1 or _R1.</p>
        <u>NOTE</u>: To upload input files to your database, use <code>Data</code> &raquo; <code>Files</code> &raquo <code>Transfer File</code> from the toolset menu.
        <br>
        <br>
        <b>Outputs</b>
        <p>Full results archive (.zip) containing result files (including alignment files) from your KNIFE run, core results archive (.zip) containing core result files (everything but alignment files) from your KNIFE run, and an out.log file containing information about your KNIFE run. To learn more about the outputs created by this tool, visit the tutorial page below.</p>
        <u>NOTE</u>: To download any file from your database to your computer, click the file name in the <code>Data Selector</code> tree, then click on the <code>Click to Download File</code> link in the <code>Details</code> panel.
        <br>
        <br>
        <b>Tutorials</b>
        <p>A tutorial page with further explanation about inputs and outputs for KNIFE can be found <a href='http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/KNIFE_%28Known_and_Novel_IsoForm_Explorer%29' target='_blank'>here</a>.</p>
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag at least 1 single-end or 2 paired-end FASTQ files into &quot;Input Data&quot;.',
          "Alternatively, drag at least 1 folder or file entity list with any number of input files into &quot;Input Data&quot;.",
          "Your input files can be compressed."
        ],
        :types              => [ [ 'File', 'min: 1 ; max: any' ], [ 'Files Dir', 'min: 1 ; max: any' ], [ 'Files Entity', 'min: 1 ; max: any' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>Database</u> into &quot;Output Targets&quot;. The results data will end up under the <u>KNIFE_v1.2</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.'],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', "The top-level output folder (under 'KNIFE_v1.2') used to organize results."],
          [ 'Genome Version', "This is automatically chosen based on the genome version of the target database."],
          [ 'ERCC Submission Options', "If you are not a member of the ERCC, ignore this section. If you are a member of the ERCC, choose the appropriate options for your submission with respect to your grant number and anticipated data repository. If your submission does not fall under an ERCC grant, then choose the 'Non-ERCC Funded Study' option. If you are an ERCC member and your PI / grant numbers are not showing up properly, please email Sai at sailakss@bcm.edu with your PI's name so you can be added to our database as a submitter."],
          [ 'Remote Storage Area', "If you've used the 'Create Remote Storage Area' tool to create a remote storage (FTP) area, you can choose an area where your results will be uploaded. You can learn more by visiting the <a href=\'http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/Using_Remote_%28FTP%29_Storage_for_exceRpt\' target=\'_blank\'>tutorial</a>. Default: 'None Selected'." ],
          [ 'Submit', "After reviewing the inputs, the output destination database, and your settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [ 'Szabo L, Morey R, Palpant NJ, Wang PL, Afari N, Jiang C, Parast MM, Murry CE, Laurent LC, Salzman J. Statistically based splicing detection reveals neural enrichment and tissue-specific induction of circular RNA during human fetal development. Genome Biology. 2015, 16:126. http://www.ncbi.nlm.nih.gov/pubmed/26076956' ],
                                  [ 'Integrated into the Genboree Workbench by <a href=\'mailto:thistlew@bcm.edu\'>William Thistlethwaite</a> and <a href=\'mailto:sailakss@bcm.edu\'>Sai Lakshmi Subramanian</a> at <a href=\'http://genboree.org/site/bioinformatics_research_laboratory\' target=\'_blank\'>BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
