<%# RENDER HTML %>
<div style="height: 292px; width: 590px; " class="wbDialog wbHelp citing" >
  <h4 align="center" class="wbTitle">Citing Genboree</h4>
  <br>
  If you used Genboree in some aspect of your research, the references below can be used for citation.
  <ol class="refs">
    <li>Coarfa C, Pichot C, Jackson A, Tandon A, Amin V, Raghuraman S, Paithankar S,
Lee AV, McGuire SE, Milosavljevic A. <i>Analysis of interactions between the
epigenome and structural mutability of the genome using Genboree Workbench tools.</i>
BMC Bioinformatics. (<b>2014</b>) 15 Suppl 7:S2.
      <!-- span class="keywords">
        <span class="label">Mesh Headings:</span>
        <span class="words">DNA/genetics/metabolism; DNA Methylation; Epigenesis, Genetic ; Epigenomics/methods ; Genomic Instability ; Germ Cells/metabolism ; Histones/metabolism</span>
      </span -->
      <span class="keywords">
        <!-- span class="label">Links:</span -->
        <span class="words">[
          PMID: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/25080362">25080362</a> ;
          PMCID: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4110728/">PMC4110728</a> ;
          DOI: <a target="_blank" href="http://search.crossref.org/?q=10.1186%2F1471-2105-15-S7-S2">10.1186/1471-2105-15-S7-S2</a>
        ]</span>
      </span>
    </li>
    <li>Riehle K, Coarfa C, Jackson A, Ma J, Tandon A, Paithankar S, Raghuraman S,
Mistretta TA, Saulnier D, Raza S, Diaz MA, Shulman R, Aagaard K, Versalovic J,
Milosavljevic A. <i>The Genboree Microbiome Toolset and the analysis of 16S rRNA
microbial sequences.</i> BMC Bioinformatics. (<b>2012</b> 13 Suppl 13:S11.
      <!-- span class="keywords">
        <span class="label">Mesh Headings:</span>
        <span class="words">Gastrointestinal Tract/microbiology; Irritable Bowel Syndrome/microbiology; Metagenomics/*methods; Obesity/genetics; RNA, Ribosomal, 16S/*genetics; Sequence Analysis, RNA/*methods</span>
      </span -->
      <span class="keywords">
        <!-- span class="label">Links:</span -->
        <span class="words">[
          PMID: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/23320832">23320832</a> ;
          PMCID: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3426808/">PMC3426808</a> ;
          DOI: <a target="_blank" href="http://search.crossref.org/?q=10.1186%2F1471-2105-13-S13-S11">10.1186/1471-2105-13-S13-S11</a>
        ]</span>
      </span>
    </li>
  </ol>
</div>
