<div class="wbDialog" style="height:auto; width:auto;">
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolWarningTitle, { :title => 'RDP' } ) %>
  <%# Error Info %>
  <%= renderFrag(@toolIdStr, :wbWarningMsg, { :context => @context } ) %>
  <br>
  <div style='width: 50% ; margin-left: auto; margin-right: auto; text-align: center; font-weight: bold; color: #C64848'>Are you sure you want to continue?</div>
</div>
