<%# RENDER HTML %>
<div style="height: 520px; width: 570px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
          "
            <a href='http://rdp.cme.msu.edu/'>
              <img src='/images/workbench/help/microbiomeWorkbench/rdpLogo.png' style='margin:8px;width:56;height:37;' align='left'>
            </a>
            This tool will run <a href='http://rdp.cme.msu.edu/'>RDP's</a> Classifier pipeline on the Sample-specific FASTA data you prepared in a prior <span class='wbHelpMonoEntity'>Microbiome Sequence Import</span> step. In the summary documents (.XLSX), the spreadsheets contain per-sample data for each taxonomic rank; a corresponding clustered heatmap for each rank is also output (PDF).
            <br>&nbsp;<br>
            <img src='/images/workbench/help/microbiomeWorkbench/heatMap.png' style='margin:0px 8px 8px 8px;width:13;height:34;' align='right'>
            (<i>Note: due to how our driver uses and manipulates file names, the heatmap images may have corrupted Sample names. We are working on addressing this.</i>)
            <br>&nbsp;<br>
            <div style='width:100%; text-align:center; font-size: 80%;'><i>This tool is part of the <u>Microbiome Workbench</u>. Additional details and a summary of the output files generated are provided in the </i><a href='#addendum'>Addendum</a><i> at the bottom of this Help dialog.</i></div>
          "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the <u>Files Directory</u> with the <span class="wbHelpMono">Microbiome Sequence Import</span> results into &quot;Input Data&quot;.',
        ],
        :types              => [ [ 'Files Dir', 'min: 1 ; max: any' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [ 'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up in that database under the Files area. Optionally, drag a project into &quot;Output Targets&quot for creating links to html files (generated by RDP) from the project page' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ], [ 'Project', 'min: 0 ; max: 1' ]],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Study Name', "The output folder for the RDP results."],
          [ 'Job Name', "Give this job a unique job name."],
          [ 'Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [
                                    "More information about the classifier used and other useful tools can be found at the <a href='http://rdp.cme.msu.edu/'>RDP website</a>, and in the classifier publication:",
                                    'Wang, Q, G. M. Garrity, J. M. Tiedje, and J. R. Cole. 2007.
                                     Naïve Bayesian Classifier for Rapid Assignment of rRNA Sequences into the New Bacterial Taxonomy. Appl Environ Microbiol. 73(16):5261-7.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/17586664 ">PubMed</a>]</span>'
                                  ],
                                  [ 'Developed internally by Kevin Riehle, Jun Ma; integrated into the workbench by Arpit Tandon and Sameer Paithankar at <a href="http://brl.bcm.tmc.edu">BRL</a>.', nil ]
                                ]
      })
  %>
  <%# Tool-specific Addendum %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpAddendum,
      {
        :html =>
        "
          <a name='addendum'>
            <div style='display:block; margin: 15px; auto; 8px; auto; text-align:center; color:#0052DC; font-size:12pt; font-weight:bold;'>
              Addendum
            </div>
          </a>
          <b>A. Context Within the Microbiome Workbench</b><br>
          The RDP classifier tool can be run after performing the <span style='font-family:monospaced;'>Microbiome Sequence Import</span> step:<br>
          <div style='width:100%; text-align: center; font-size: 12pt; font-weight: bold; margin: 10px 2px 0px 2px;'>
            Microbiome Workbench Flow
          </div>
          <img src='/images/workbench/help/microbiomeWorkbench/flow_rdp.png' style='margin:2px 2px 10px 2px; display:block; margin-left:auto; margin-right:auto; width:497; height:198;'>
          <b>B. Output Produced</b><br>
          <b>i. Output Files</b><br>
          The RDP tool will output several useful files, including an .XLSX docuemnt whose tabs contain the per-sample scores for each taxa within a specific taxonomic rank. For visualization convenience, heatmap images are also provided for this data in a set of PDF files.
          <br>
          <img src='/images/workbench/help/microbiomeWorkbench/rdp_outputLocations_files.png' style='float:left; margin:5px; width:277px;  height:350px;'>
          <div style='display: block; float: left; width: 48%;'>
            <ul>
              <li>
                <u><b>counts.xlsx</b></u> - Spreadsheet with the per-sample raw counts for each taxa. Each taxonomic rank has a separate tab.
              </li>
              <li>
                <u><b>normalized.xlsx</b></u> - Spreadsheet with the per-sample normalized scores for each taxa. Each taxonomic rank has a separate tab.
              </li>
              <li>
                <u><b>pdf.result.tar.gz</b></u> - An archive containing a heatmap PDFs per taxonomic rank..
              </li>
              <li>
                <u><b>class.result.tar.gz</b> ... <b>species.result.tar.gz</b></u> - Archives of the raw classification data, one archive per taxonmic rank.
              </li>
              <li>
                <u><b>sample.metadata</b></u> - A tab-delimited file of all Sample records involved in this Qiime job.
              </li>
              <li>
                <u><b>settings.json</b></u> - A JSON file with the input &amp; output information, the tool settings, and some context for this tool job.
              </li>
            </ul>
          </div>
          <br>
          <b>ii. Browsing Plots Online</b><br>
          In addition to providing an output <u>Database</u> where the result files will be placed, you can <i>optionally</i> provide an output <u>Project</u>, so you can browse the heatmap PDFs online. The tool will post a 'News' item in the target Project, which will indicate a new job has run and provide links to table-of-content page where you can browse the plots (see example <b>below</b>).
          <p>
          You can use the Workbench to go directly to your Project by using the tree to select your Project, then clicking the 'Link to Project' text in the details panel. From there you will see News items for the various jobs which where configured to post results to that Project.
          <img src='/images/workbench/help/microbiomeWorkbench/rdp_projects.png' style='display:block;margin-left:auto;margin-right:auto;width:432xp;height:270px;'>
        "
      })
  %>
</div>
