<%
  require 'brl/genboree/rest/wrapperApiCaller'
  uriObj = URI.parse(@outputs[0])
  apiCaller = WrapperApiCaller.new(uriObj.host, "#{uriObj.path}/eps?", @context['userId'])
  apiCaller.initInternalRequest(@rackEnv, @genbConf.machineNameAlias) if(@rackEnv)
  apiCaller.get()
  resp = JSON.parse(apiCaller.respBody)['data']['entrypoints']
  epArray = []
  resp.each { |ep|
    epArray << ep['name']
  }
  height = '500px'
  if(epArray.size <= 500 and epArray.size > 0)
    height = '500px'
  else
    height = '250px'
  end
  formTag = "<form id=\"wbDialogForm\" name=\"wbDialogForm\" action=\"wbDefault\" style=\"width: 600px; height: #{height};\" onsubmit=\"return submitToolJob(this);\" method=\"POST\" class=\"wbDialog wbForm\" >"
%>
<%= formTag %>

<%# Tool Title %>
<%= renderStaticFrag(@toolIdStr, :wbToolTitle) %>
<%
  if(@hasAccess)
%>
  <%# Overview text %>
  <%=
      renderStaticFrag(@toolIdStr, :wbToolOverview,
      { :toolOverview =>
        "
          This tool builds BWA index from a set of nucleotide sequences. BWA Index tool outputs a set of 5 files with suffixes <code>.amb, .ann, bwt, .pac, .sa</code>. These files together constitute the index: they are all that is needed to align reads to that reference. The original sequence FASTA files are no longer used by BWA once the index is built.
          <br>&nbsp;<br>
          This tool allows selecting <i>Entrypoints/Chromosomes</i> from a target database to build BWA index.
          <br>&nbsp;<br>
        "
      })
  %>
  <%
    if(epArray.size <= 500 and epArray.size > 0)
  %>
      <%# Output summary %>
      <%=
        renderFrag(@toolIdStr, :wbDialogSection,
        {
          :sectionTitle => "Entrypoints belong to:",
          :sectionHtml =>
            renderFrag(@toolIdStr, :wbDatabaseListSummary, { :databaseList => @outputs} )
        })
      %>
      <%=
          genomeVersion = @settings['genomeVersion']
          # Get the list of eps
          renderFrag(@toolIdStr, :wbToolSettingsUI,
          {
            :sectionTitle => "Select Entrypoint/Chromosome for building BWA index",
            :widgets =>
            [
              { :id => 'indexBaseName', :label => 'BWA Index Name', :type => :text, :value => genomeVersion, :size => '15', :title => "Base name that will be used for bwa index. Default: 
GenomeVersion" }, 
              { :id => 'selectEps', :toggleText => "Select Entrypoints/Chromosomes", :type => :advancedSection, :startWithExpanded => false, :title => "Select list of entrypoints/chromosomes for 
building BWA index. Default: all entrypoints" , :widgets =>
                [
                  { :id => "epArray", :label => "", :labelWidth => '100px', :type => :tableWithCheckboxSection, :rows => epArray, :headerRow => ['Entrypoint', 'Select'] },
                  { :id => "baseWidget", :label => "", :hidden => true, :type => :text, :value => 'epArray'}
                ]
              }
            ]
          })

      %>

      <%= renderStaticFrag(@toolIdStr, :wbToolButtons,
            {
              :buttons => [ { :type => :submit }, { :type => :cancel} ]
            })
      %>
      </form>
  <%
    elsif(epArray.size == 0)
  %>
      <div align="center">
        This database has no entrypoints. You may have created a custom database without a template assembly. Upload your entrypoints and try again.
      </div>
      <br>&nbsp;<br>
      <%= renderFrag(@toolIdStr, :wbToolButtons,
          {
            :buttons => [ { :type => :cancel} ]
          })
      %>
  <%
    else
  %>
      <div align="center">
        This database has too many entrypoints to list. Selecting via the workbench is not allowed. Please create a new database or contact <%=@genbConf.gbAdminEmail%>
        for support.
      </div>
      <br>&nbsp;<br>
    <%=
      renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
    $stderr.puts "SETTINGS: #{@settings.inspect}"
    %>
  <%
    end
  %>
<%
  else
%>
<%= renderFrag(@toolIdStr, :wbToolOverview,
      { :toolOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
</form>
<%
  end
%>
