
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <style media="all" type="text/css">
    table {
	    border-collapse: collapse;
	    border: 1px solid #CCC;
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 9pt;
	    line-height: normal;
    }

    th {
	    text-align: center;
	    border-top: 1px solid #FB7A31;
	    border-bottom: 1px solid #FB7A31;
	    background: #FFC;
	    padding: 0.3em;
	    border-left: 1px solid silver;
    }

		tr.break td {
		  border: 0;
	    border-top: 1px solid #FB7A31;
			padding: 0;
			margin: 0;
		}

    tr.method td {
			font-weight: bold;
    }

    td {
	    padding: 0.3em;
    }

    td:first-child {
	    width: 190px;
	    }

    td {
	    border-left: 1px solid #CCC;
	    text-align: center;
    }	
  </style>
	</head>
	<body>
		<h1>Profile Report</h1>
		<!-- Threads Table -->
		<table>
			<tr>
				<th>Thread ID</th>
				<th>Total Time</th>
			</tr>
			
			<tr>
				<td><a href="#91452663760">91452663760</a></td>
				<td>0.01</td>
			</tr>
			
		</table>

		<!-- Methods Tables -->
		
			<h2><a name="91452663760">Thread 91452663760</a></h2>

			<table>
				<tr>
					<th>  %Total</th>
					<th>   %Self</th>
					<th>     Total</th>
					<th>      Self</th>
					<th>    Children</th>
					<th>               Calls</th>
					<th>Name</th>
				</tr>

				
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
					
					
						<!-- Parents -->
						 
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.00</td>
								<td>      0.01</td>
								
								<td>                 1/1</td>
								<td><a href="#BRL__Genboree__SeqRetriever_getAnnoSequence_91452663760">BRL::Genboree::SeqRetriever#getAnnoSequence</a></td>
							</tr>
						

						<tr class="method">
							<td> 100.00%</td>
							<td>   0.00%</td>
							<td>      0.01</td>
							<td>      0.00</td>
							<td>      0.01</td>
							<td>                   1</td>
							<td><a name="BRL__Genboree__SeqRetriever_getSequenceForRange_91452663760">BRL::Genboree::SeqRetriever#getSequenceForRange</a></td>
						</tr>

						<!-- Children -->
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::SeqRetriever#getRidSeqIdForRid</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/7</td>
								<td>#<Class:0x2a9628c380>#empty?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.01</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td><a href="#BRL__Genboree__SeqRetriever_getSeqDataForRange_91452663760">BRL::Genboree::SeqRetriever#getSeqDataForRange</a></td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::SeqRetriever#getFileInfoByRidSeqId</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                3/18</td>
								<td>Kernel#kind_of?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/19</td>
								<td>DBI::Row#[]</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/2</td>
								<td>BRL::Genboree::SeqRetriever#getDataDBNameByUploadId</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/18</td>
								<td>Array#first</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::FrefTable#selectFrefsByRid</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>               1/158</td>
								<td>Kernel#nil?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/2</td>
								<td>Integer#to_i</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/15</td>
								<td>Hash#key?</td>
							</tr>
						
						<!-- Create divider row -->
						<tr class="break"><td colspan="7"></td></tr>
				
	        
  	      
					
					
	        
  	      
					
					
					
					
						<!-- Parents -->
						 
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.01</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td><a href="#BRL__Genboree__SeqRetriever_getSequenceForRange_91452663760">BRL::Genboree::SeqRetriever#getSequenceForRange</a></td>
							</tr>
						

						<tr class="method">
							<td> 100.00%</td>
							<td> 100.00%</td>
							<td>      0.01</td>
							<td>      0.01</td>
							<td>      0.00</td>
							<td>                   1</td>
							<td><a name="BRL__Genboree__SeqRetriever_getSeqDataForRange_91452663760">BRL::Genboree::SeqRetriever#getSeqDataForRange</a></td>
						</tr>

						<!-- Children -->
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/2</td>
								<td>BRL::Genboree::SeqRetriever#setFromAndTo</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/7</td>
								<td>#<Class:0x2a9628c380>#empty?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/4</td>
								<td>#<Class:0x2a9628c380>#==</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                2/69</td>
								<td>Fixnum#+</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                3/19</td>
								<td>DBI::Row#[]</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::SeqRetriever#openCachedFileHandle</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                2/19</td>
								<td>Fixnum#-</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 2/5</td>
								<td>String#+</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>               2/143</td>
								<td>Fixnum#==</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/10</td>
								<td>String#empty?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>IO#read</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>               3/158</td>
								<td>Kernel#nil?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>IO#seek</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/15</td>
								<td>Kernel#==</td>
							</tr>
						
						<!-- Create divider row -->
						<tr class="break"><td colspan="7"></td></tr>
				
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
					
					
						<!-- Parents -->
						 
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.00</td>
								<td>      0.01</td>
								
								<td>                 1/1</td>
								<td><a href="#__Module_0x2a9750f520__getAnnoSequence_91452663760">#<Module:0x2a9750f520>#getAnnoSequence</a></td>
							</tr>
						

						<tr class="method">
							<td> 100.00%</td>
							<td>   0.00%</td>
							<td>      0.01</td>
							<td>      0.00</td>
							<td>      0.01</td>
							<td>                   1</td>
							<td><a name="BRL__Genboree__SeqRetriever_getAnnoSequence_91452663760">BRL::Genboree::SeqRetriever#getAnnoSequence</a></td>
						</tr>

						<!-- Children -->
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.00</td>
								<td>      0.01</td>
								
								<td>                 1/1</td>
								<td><a href="#BRL__Genboree__SeqRetriever_getSequenceForRange_91452663760">BRL::Genboree::SeqRetriever#getSequenceForRange</a></td>
							</tr>
						
						<!-- Create divider row -->
						<tr class="break"><td colspan="7"></td></tr>
				
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
					
					
						<!-- Parents -->
						

						<tr class="method">
							<td> 100.00%</td>
							<td>   0.00%</td>
							<td>      0.01</td>
							<td>      0.00</td>
							<td>      0.01</td>
							<td>                   1</td>
							<td><a name="_toplevel_91452663760">#toplevel</a></td>
						</tr>

						<!-- Children -->
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::SeqRetriever#clear</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/2</td>
								<td><Module::Apache>#request</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/2</td>
								<td>#<Module:0x2a9750f520>#createRetriever</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>               16/16</td>
								<td>Module#method_added</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/11</td>
								<td>Kernel#untaint</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/71</td>
								<td>Kernel#===</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>Apache::Request#server_name</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/6</td>
								<td><Object::Object>#[]</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.00</td>
								<td>      0.01</td>
								
								<td>                 1/1</td>
								<td><a href="#__Module_0x2a9750f520__getAnnoSequence_91452663760">#<Module:0x2a9750f520>#getAnnoSequence</a></td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>               2/143</td>
								<td>Fixnum#==</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>#<Module:0x2a9750f520>#paramCheck</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/30</td>
								<td>Kernel#dup</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>#<Module:0x2a9750f520>#getSingleAnnoStrand</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td><Object::Object>#include</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>Apache::Request#server_port</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/61</td>
								<td>Class#new</td>
							</tr>
						
						<!-- Create divider row -->
						<tr class="break"><td colspan="7"></td></tr>
				
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
					
					
						<!-- Parents -->
						 
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.00</td>
								<td>      0.01</td>
								
								<td>                 1/1</td>
								<td><a href="#_toplevel_91452663760">#toplevel</a></td>
							</tr>
						

						<tr class="method">
							<td> 100.00%</td>
							<td>   0.00%</td>
							<td>      0.01</td>
							<td>      0.00</td>
							<td>      0.01</td>
							<td>                   1</td>
							<td><a name="__Module_0x2a9750f520__getAnnoSequence_91452663760">#<Module:0x2a9750f520>#getAnnoSequence</a></td>
						</tr>

						<!-- Children -->
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>Fixnum#abs</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/23</td>
								<td>Fixnum#></td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/2</td>
								<td>#<Module:0x2a9750f520>#createRetriever</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.01</td>
								<td>      0.00</td>
								<td>      0.01</td>
								
								<td>                 1/1</td>
								<td><a href="#BRL__Genboree__SeqRetriever_getAnnoSequence_91452663760">BRL::Genboree::SeqRetriever#getAnnoSequence</a></td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                2/18</td>
								<td>Kernel#kind_of?</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>Kernel#puts</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>#<Module:0x2a9750f520>#doOutputPrep</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                1/19</td>
								<td>Fixnum#-</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::SeqRetriever#makeSeqDefline</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>               2/143</td>
								<td>Fixnum#==</td>
							</tr>
						 
							
							

							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>      0.00</td>
								<td>      0.00</td>
								<td>      0.00</td>
								
								<td>                 1/1</td>
								<td>BRL::Genboree::SeqRetriever#prettyPrintSequence</td>
							</tr>
						
						<!-- Create divider row -->
						<tr class="break"><td colspan="7"></td></tr>
				
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
	        
  	      
					
					
			</table>
		
	</body>
</html>