<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/javaScripts/ext-3.2.1/resources/css/ext-all.css?jsVer=2001">
    <script type="text/javascript" src="/javaScripts/prototype-1.6.js?jsVer=2001"></script>
    <script type="text/javascript" src="/javaScripts/ext-3.2.1/adapter/prototype/ext-prototype-adapter-debug.js?jsVer=2001"></script>
    <script type="text/javascript" src="/javaScripts/ext-3.2.1/adapter/ext/ext-base-debug.js?jsVer=2001"></script>
    <script type="text/javascript" src="/javaScripts/ext-3.2.1/ext-all-debug.js?jsVer=2001"></script>
    <script type="text/javascript" src="/REST/v1/genboree/ui/menu/sample?gbKey=rektjxdd&readable=yes&prefix=foo"></script>
  </head>

  <body>
    <div id="fooToolbarDiv" style="width:400px;"></div>
  </body>
</html>
