<%# RENDER HTML %>
<div style="height: 600px; width: 800px; " class="wbDialog wbHelp">
  <h4 align="center"  class="wbTitle">Genboree Icons</h4>
  <ul class="wbIntro">
    <table align="center" bgcolor="#FAFAFF" border="1" style="border-collapse: collapse">
      <tr align="center">
        <td><b><font color="blue" size="3">Icon</font></b></td>
        <td><b><font color="blue" size="3">Name</font></b> </td>
        <td><b><font color="blue" size="3">Description</font></b></td>
      </tr>
      <tr>
        <td style="text-align: center; padding: 22px"> <img src='/images/silk/computer.png'></td>
        <td style="padding: 22px" align="center"> Host </td>
        <td style="padding: 6px">The domain name of the Genboree Host. The domain name of a given Genboree installation. You may see more than one host name if you are connected to other Genboree installations as part of the Genboree Network. The most common host for new users is <a href="http://www.genboree.org" target="_blank">www.genboree.org</a></td>
      </tr>
      <tr>
        <td style="text-align: center; padding: 16px"><img src='/images/silk/group.png'></td>
        <td style="padding: 16px;width:150px" align="center">Group</td>
        <td style="padding: 6px">A "Group" contains Databases and Projects and controls access to all content within. You control access to your Group(s), and who is a member of your group. You can also belong to multiple Groups (i.e. collaborators). </td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/silk/folder_database.png'></td>
        <td style="padding: 6px" align="center">Folder of Databases</td>
        <td style="padding: 6px">A folder within a Group that contains all the Databases belonging to that Group.</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/workbench/dbTreeNode.png'></td>
        <td style="padding: 10px" align="center">Database</td>
        <td style="padding: 6px">A Database contains Tracks, Lists, Sample Sets, Samples, and File. Each database can be associated with a reference genome.</td>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/silk/folder.png'></td>
        <td style="padding: 6px" align="center">Closed Folder</td>
	<td style="padding: 6px">A "Folder" contains files, tracks, lists, etc.</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/javaScripts/ext-3.2.1/resources/images/default/tree/folder-open.gif'></td>
        <td style="padding: 6px" align="center">Open Folder</td>
	<td style="padding: 6px">A "Folder" contains files, tracks, lists, etc. that has been expanded.</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/workbench/sampleSetFolder16.png'></td>
        <td style="padding: 6px" align="center">Sample Set Folder</td>
        <td style="padding: 6px">A folder that contains Samples. </td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/workbench/sampleSetIcon16.png'></td>
        <td style="padding: 6px" align="center">Sample Set</td>
        <td style="padding: 6px">A list of Samples.</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/workbench/sampleFolder16.png'></td >
        <td style="padding: 6px" align="center">Sample Folder</td>
        <td style="padding: 6px">The folder containing Samples.</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 16px"><img src='/images/workbench/sampleIcon16.png'></td>
        <td style="padding: 16px" align="center">Sample</td>
        <td style="padding: 6px">A "Sample" is a database record corresponding to attributes that describe the Sample. For example, the breast cancer biopsy was 2 mm in diameter (attribute).</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 16px"><img src='/images/silk/folder_table.png'></td>
        <td style="padding: 16px" align="center">Files</td>
        <td style="padding: 6px">A "Folder" that may contain inputs for running jobs on Genboree Workbench tools, or outputs that were generated from the tools.</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/silk/table.png'></td>
        <td style="padding: 6px" align="center">File</td>
        <td style="padding: 6px">Designates any type of file (i.e, zip, png, newick, text, etc).</td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/silk/folder_table.png'></td>
        <td style="padding: 6px" align="center">Folder of Projects</td>
        <td style="padding: 6px">A "Folder" that contains the Projects belonging to a Group. </td>
      </tr>
      <tr>
        <td style="text-align: center;padding: 6px"><img src='/images/silk/application_side_tree.png'></td>
        <td style="padding: 6px" align="center">Project</td>
        <td style="padding: 6px">A Project holds files that contain analysis results belonging to a Group.</td>
      </tr>
    </table>
  </ul>
</div>
