body {
  background-color: white;
  margin-left: 0pt;
  margin-top: 0pt;
  margin-width: 0pt;
  margin-height: 0pt;
}

p,td,th,h1,h2,h3,h4,dd {
  font-family: verdana,arial,sans-serif;
  color: #403c59;
}

p,td,th {
  font-size: 9pt;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #403c80;
}

td.navbar {
  background-color: white;
  background-image: url(graphics/yellowbox20.gif);
  background-repeat:no-repeat;
  font-size: 10pt;
  font-weight: bold;
}

td.navbar2 {
  background-color: white;
  font-size: 10pt;
  font-weight: bold;
}

.hdr {
  font-size: 11pt;
  font-weight: bold;
}

.footer {
  font-size: 8pt;
}

h2 {
  font-weight: bold;
  color: #403c80;
  font-size: 13pt;
}

h4,dt {
  font-weight: bold;
  color: #403c80;
  font-size: 10pt;
}

.dataNum {
  color: #403cb1;
}

table.niceBorder {
	border-style: solid;
	border-color: #403c80 #403c80 #403c80 #403c80
}
