<%# RENDER HTML %>
<div style="height: 520px; width: 600px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
          "
            <a href='http://qiime.sourceforge.net/'>
              <img src='/images/workbench/help/microbiomeWorkbench/qiimeLogo.png' style='margin-right:8px;width:96;height:50;' align='left'>
            </a>
            Using the Sample-specific FASTA data you prepared in a prior <span class='wbHelpMonoEntity'>Microbiome Sequence Import</span> step, this tool will run the <a href='http://qiime.sourceforge.net/'>QIIME</a> (Quantitative Insights Into Microbial Ecology) pipeline to perform tasks listed below:
            <img src='/images/workbench/help/microbiomeWorkbench/qiime_pcoa.png' style='clear:right;width:96;height:97;margin-top:8px;margin-bottom:8px;' align='right'>
            <br>&nbsp;<br>
            <ul>
              <li>OTU and representative set picking</li>
              <li>Taxonomy assignment with RDP classifier</li>
              <li>Sequence alignment</li>
              <li>Phylogenetic tree reconstruction</li>
              <li>PCoA  figure generation</li>
            </ul>
            <br>
            The output of Qiime can also be used in subsequence analysis tools, such as the <span class='wbHelpMono'>Machine Learning</span> and <span class='wbHelpMono'>&alpha;-diversity</span> tools.
            <br>&nbsp;<br>
          <div style='width:100%; text-align:center; font-size: 80%;'><i>Additional information about the output, location of plots images, etc, are provided in the </i><a href='#addendum'>Addendum</a><i> at the bottom of this Help dialog.</i></div>
          "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the <u>Files Directory</u> with the <span class="wbHelpMono">Microbiome Sequence Import</span> results into &quot;Input Data&quot;.',
        ],
        :types              => [ [ 'Files Dir', 'min: 1 ; max: any' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [ 'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up in that database under the Files area. Optionally, drag a project into &quot;Output Targets&quot for creating links to html files (generated by QIIME) from the project page' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ], [ 'Project', 'min: 0 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Study Name', 'The output folder for the QIIME results.' ],
          [ 'Job Name', 'Give this job a unique name.' ],
          [ 'Remove Chimeras?', 'Chimeric sequences can be formed and amplified as part of the pyrosequencing of the PCR-amplified 16S rRNA ribosomal subunit. These sequences are formed as hybrid products between multiple parents, which are interpreted as novel organisms. The occurrence of these false hybrid organisms can be responsible for artificially increasing diversity. Chimera Slayer is a chimera detection algorithm that works on sequences produced from 454 Roche sequencers. (Note: This step may add an additional couple of hours to your analysis.)' ],
          [ 'Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                   [ "Qiime is available from the <a href='http://qiime.sourceforge.net/'>project home page at Sourceforge</a> and has been published:",
                                    'J Gregory Caporaso, Justin Kuczynski, Jesse Stombaugh, Kyle Bittinger, Frederic D Bushman, Elizabeth K Costello, Noah Fierer, Antonio Gonzalez Pena,
                                    Julia K Goodrich, Jeffrey I Gordon, Gavin A Huttley, Scott T Kelley, Dan Knights, Jeremy E Koenig, Ruth E Ley, Catherine A Lozupone, Daniel McDonald,
                                    Brian D Muegge, Meg Pirrung, Jens Reeder, Joel R Sevinsky, Peter J Turnbaugh, William A Walters, Jeremy Widmann, Tanya Yatsunenko,
                                    Jesse Zaneveld and Rob Knight. <i>QIIME allows analysis of high-throughput community sequencing data.</i> Nature Methods <b>2010</b> May;<b>7(5)</b>:335-6 Epub 2010 Apr 11.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/20383131 ">PubMed</a>]</span>'
                                  ],
                                  [ 'Pipeline developed internally by Kevin Riehle, Jun Ma; integrated into the workbench by Arpit Tandon and Sameer Paithankar at <a href="http://brl.bcm.tmc.edu">BRL</a>.', nil ]
                                ]
      })
  %>
  <%# Tool-specific Addendum %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpAddendum,
      {
        :html =>
        "
          <a name='addendum'>
            <div style='display:block; margin: 15px; auto; 8px; auto; text-align:center; color:#0052DC; font-size:12pt; font-weight:bold;'>
              Addendum
            </div>
          </a>
          <b>A. Context Within the Microbiome Workbench</b><br>
          The Qiime tool provides both its <u>own analysis results</u>, including 2D and 3D PCoA plots and phylogenetic tree data, as well as computing an OTU (Operational Taxonomic Unit) table for subsequent analysis tools such as <span style='font-family:monospaced;'>Machine Learning</span> and <span style='font-family:monospaced;'>&alpha;-Diversity</span>:<br>
          <div style='width:100%; text-align: center; font-size: 12pt; font-weight: bold; margin: 10px 2px 0px 2px;'>
            Microbiome Workbench Flow
          </div>
          <img src='/images/workbench/help/microbiomeWorkbench/flow_qiime.png' style='margin:2px 2px 10px 2px; display:block; margin-left:auto; margin-right:auto; width:497; height:198;'>
          <b>B. Output Produced</b><br>
          <b>i. Output Files</b><br>
          The Qiime tool will output several files of possible use to you, including some archives of PCoA plot images and raw result data you may wish to download for viewing and further processing. As shown <b>below</b>, these files are saved under the <u>MicrobiomeWorkBench</u> folder in the <u>Files</u> area of your output database. The path for the specific job results folder is determined by your <span style='font-family:monospaced;'>Study Name</span> and <span style='font-family:monospaced;'>Qiime Job Name</span> settings, as shown in the image <b>below</b>.
          <br>
          <img src='/images/workbench/help/microbiomeWorkbench/qiime_outputLocations_files.png' style='float:left; margin:5px; width:292;  height:320;'>
          <div style='display: block; float: left; width: 48%;'>
            <ul>
              <li>
                <u><b>plots.result.tar.gz</b></u> - Archive containing all the pairwise 2D plots (as PNG and EPS files) for the top 3 principle coordinates for each metric. Also includes an HTML page for browsing these results, and the 3D plots which require a Java Applet viewer (Kinglet, included). Normalized and unnormalized results provided.
              </li>
              <li>
                <u><b>otu.table</b></u> - The main OTU table, used in subsequent tools. If needed, other versions of the OTU table can be found in <b>raw.results.tar.gz</b>.
              </li>
              <li>
                <u><b>phylogenetic.result.tar.gz</b></u> - Phylogenetic tree building data.
              </li>
              <li>
                <u><b>fasta.result.tar.gz</b></u> - Fasta files containing alignment data.
              </li>
              <li>
                <u><b>raw.results.tar.gz</b></u> - All other intermediate Qiime data, including other OTU table data and any data not covered by a different, possibly more useful, archive file.
              </li>
              <li>
                <u><b>taxonomy.result.tar.gz</b></u> - For each taxa, per-sample scoring data.
              </li>
              <li>
                <b><u>mapping.txt</u></b> - For each Sample, very specific and limited metadata. Used by subsequent tools.
              </li>
              <li>
                <u><b>sample.metadata</b></u> - A tab-delimited file of all Sample records involved in this Qiime job.
              </li>
              <li>
                <u><b>settings.json</b></u> - A JSON file with the input &amp; output information, the tool settings, and some context for this tool job.
              </li>
            </ul>
          </div>
          <br>
          <b>ii. Browsing Plots Online</b><br>
          In addition to providing an output <u>Database</u> where the result files will be placed, you can <i>optionally</i> provide an output <u>Project</u>, so you can browse the 2D &amp; 3D plots online. The tool will post a 'News' item in the target Project, which will indicate a new job has run and provide links to table-of-content pages where you can browse the plots (see example <b>below</b>).
          <p>
          You can use the Workbench to go directly to your Project by using the tree to select your Project, then clicking the 'Link to Project' text in the details panel. From there you will see News items for the various jobs which where configured to post results to that Project.
          <img src='/images/workbench/help/microbiomeWorkbench/qiime_projects.png' style='display:block;margin-left:auto;margin-right:auto;width:430;height:281;'>
        "
      })
  %>
</div>
