<%
  require 'json'
  @gbBwaGenomesInfo = JSON.parse(File.read(@genbConf.gbBwaGenomesInfo)) 
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      {
        :toolHelpOverview =>
        "
         BWA is a software package for mapping low-divergent sequences against a large reference genome, such as the human genome. It consists of three algorithms: <b> BWA-backtrack </b>, <b> BWA-SW </b> and <b> BWA-MEM </b>. The first algorithm is designed for Illumina sequence reads up to 100bp, while the rest two are for longer sequences ranged from 70bp to 1Mbp. 
        <br>&nbsp;<br>
        
        <center><span class='footnote'>[ Detailed description of BWA can be found at <a href='http://bio-bwa.sourceforge.net/bwa.shtml' target='_blank'>this reference page</a>. ]</span></center>
        <br>&nbsp;<br>

         <b>Inputs</b> Single or paired-end FASTQ files. The input files can be compressed.
        <br><br> 
        <b>BWA Indices</b> Select from two options:
          <ul>
            <li><b>Use existing index</b> Select existing index from a list of BWA indices available in the user database or repository database (if available for chosen genome). By default, whole genome index is used if it is available.</li>
            <li><b>Build a new index</b> Build a new BWA index for a set of entrypoints/chromosomes or user uploaded reference sequences. The IndexBwa tool is used to build new index.</li>
          </ul>

        <b>Outputs</b>
        <ul>
          <li>Alignments in <a href='http://samtools.sourceforge.net/SAMv1.pdf' target='_blank'>SAM and BAM</a> formats</li>
          <li>BAM index .bai file</li>
          <li>Coverage Track (for visualization in genome browsers)</li>
          <li>Custom BWA Index File, if available</li>
        </ul>
        
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the 2 FASTQ files into &quot;Input Data&quot;.',
          "Optionally drag a folder or a file entity list with 2 FASTQ files into &quot;Input Data&quot;. "
        ],
        :types              => [ [ 'File', 'min: 1 ; max: 2' ], [ 'Files Dir', 'min: 1 ; max: 1' ], [ 'Files Entity', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up under the <u>BWA</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', "The top-level output folder (under 'BWA') where BWA results are organized."],
          [ 'BWA Index Options', "Do you want to build a new index using reference sequences or use an existing index? [Default: Uses whole genome index if available]. "],
          [ 'Use existing index', "Select existing index from a list of BWA indices available in the user database or repository database (if available for chosen genome)"],
          [ 'Build a new index', "Build a new BWA index for a set of entrypoints/chromosomes or user uploaded reference sequences. The IndexBwa tool is used to build new index."],
          [ 'BWA Index Name', "Provide a name for your custom BWA index. This name should be less than 30 characters in length. [Default: GenomeVersion]. " ],
          [ 'Select Entrypoints/Chromosomes', "Select list of entrypoints/chromosomes for building BWA index. You will see a warning message if no entrypoint is selected. To build BWA index for custom reference sequences, you can upload your reference sequence as a new entrypoint to your database using <code>Data</code> &raquo; <code>Entrypoints</code> &raquo; <code>Upload Entrypoints</code> from the menu." ],
          [ 'Upload Results?', "Sequencing Coverage is calculated from the mapped reads. Check this to upload coverage results as a Genboree track in the output database for subsequent processing, or viewing in Genboree or UCSC Genome Browser."],
          [ 'Class Name', "If uploading the coverage results as a track, provide a Class name, under which tracks will be uploaded in your database. [Default: User Data]"],
          [ 'Track Name', "Provide an LFF-style track name, to upload the coverage results as a track. Preferably not an existing track in the output database."],
          [ 'Interleaved Paired End Data',  "Paired end data in a single FASTQ file. Assumes the 2i-th and the (2i+1)-th read in the input paired end fastq file constitute a read pair. This option is valid only for BWA-MEM"],
          [ 'Minimum Seed Length', "Matches shorter than this will be missed."],
          [ 'Band Width', "Gaps longer than this will not be found."],
          [ 'Drop off Score', "Off-diagonal X-dropoff (Z-dropoff). Stop extension when the difference between the best and the current extension score is above |i-j|*A + xDropoff, where i and j are the current positions of the query and reference, respectively, and A is the matching score. This option is available only for BWA-MEM."],
          [ 'Output All Found Alignments', "Output all found alignments for single-end or unpaired paired-end reads. These alignments will be flagged as secondary alignments."],
          [ 'Filter output alignments', "Skip alignments with a score lower than this. This option is available only for BWA-MEM."],
          [ 'Match Score', "Matching score."],
          [ 'Mismatch Penalty', "Mismatch penalty."],
          [ 'Gap Open penalty', "Gap open penalty."],
          [ 'Gap Extension Penalty', "Gap extension penalty."],
          [ 'Maximum Edit Distance', "Maximum edit distance. This option is available only for BWA-Bactrack."],
          [ 'Maximum Number of Gap Opens', "Maximum number of gap opens. This option is available only for BWA-Bactrack."],
          [ 'Disallow Deletion', "Disallow a long deletion within this number of base pairs towards the 3\' end. This option is available only for BWA-Bactrack."],
          [ 'Disallow Indel', "Disallow an indel within this bp towards the ends. This option is available only for BWA-Bactrack." ],
          [ 'Maximum Edit Distance in the Seed ', "Maximum edit distance in the seed. This option is available only for BWA-Bactrack."],
          [ 'Maximum Number of Alignments', "Maximum number of alignments to output. If a read has more than INT hits, it will not be written. This option is available only for BWA-Bactrack."],
          [ 'Submit', "Once you've reviewed the inputs, the output destination database, and your settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [
                                    'Li H, Durbin R. <i>Fast and accurate short read alignment with Burrows-Wheeler Transform.
                                    </i> Bioinformatics.2009 Mar1; 25:1754-60.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/19451168" target="_blank">PubMed</a>]</span>'
                                  ],
                                  [ 'Li H, Durbin R. <i>Fast and accurate long read alignment with Burrows-Wheeler Transform.
                                    </i> Bioinformatics.2010 Mar 1; 26(5):589-95.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/20080505" target="_blank">PubMed</a>]</span>'
                                  ],
                                  [ 'Integrated into the Genboree Workbench by Neethu Shah at <a href="http://brl.bcm.tmc.edu" target="_blank">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
