<table class="wbFieldSet" width=100%>
  <tr>
    <td colspan=2>
      <div class="wbFieldSetLegendDiv">
        <span class="wbFieldSetLegend"><%= @sectionTitle %></span>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <%= @sectionHtml %>
    </td>
  </tr>
</table>