tr.parent { border: 1px solid #f8f8f8; }
tr.parent td.name { white-space: nowrap;  width: 300px; }
tr.child { border: 1px solid #f8f8f8; }
tr.child td.name { white-space: nowrap;  width: 300px; }
tr.leaf td.name a { margin-left: 16px; }
tr.parent span.expander {
  background-image: url(../images/bullet_toggle_plus.png);
  background-repeat: no-repeat ;
  background-position: center center ;
  padding-left: 8px;
  margin-left: 0;
  cursor: pointer;
}
span.empty { text-align:right; width: 100%; cursor: pointer; }
tr.parent.open span.expander { 
  background-image: url(../images/bullet_toggle_minus.png);
  background-repeat: no-repeat ;
  background-position: center center ;
  cursor: pointer;
}
tr.hide { display:none; }
tr.parent.subprojectRoot {
  font-weight: bold ;
  font-size: 1.25em ;
}
span.forumsLink {
  cursor: pointer;
}
span.wikiLink {
  cursor: pointer;
}
span.forumsLink img {
  width: 12px ;
  height: 12px ;
  margin-right: 1px ;
}
span.wikiLink img {
  width: 12px ;
  height: 12px ;
  margin-right: 1px ;
}
table.list tr.project td {
  text-align: left ;
}
tr span.expander {background-image: url(../images/bullet_toggle_plus.png); padding-left: 8px; margin-left: 0; cursor: pointer;}
.toggle-multiselect {background: url(../images/bullet_toggle_plus.png) no-repeat 0% 40%; padding-left:8px; margin-left:0; cursor:pointer;}
tr.open span.expander {background-image: url(../images/bullet_toggle_minus.png);}
tr.leaf td.name a {
    margin-left: 2px;
}
tr.project span.my-project {
    background: url("../images/fav.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    padding-left: 12px;
}
