<%
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          This tool allows uploading of entrypoints. Supported formats include:
          <ul>
            <li><a href=\"http://genboree.org/java-bin/showHelp.jsp?topic=uploadEPhowto#3ColumnLFF\">3 column LFF</a></li>
            <li><a href=\"http://en.wikipedia.org/wiki/FASTA_format\">FASTA</a></li>
          </ul>
          <br>&nbsp;<br>
          Note that the entrypoints being uploaded shouldn't already exist. If you just want to edit existing entrypoints, you can use the 'Edit Entrypoints' tool.
          <br>&nbsp;<br>
        "

      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Optionally drag the FASTA or 3 column LFF File with the entrypoint(s) data into &quot;Input Data&quot;.',
          "Otherwise the settings dialog will prompt you to choose a file on your local computer. "
        ],
        :types              => [ [ 'File', 'min: 0 ; max: 1' ] ],
        :beEmpty            => true
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [ 'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The entrypoints will be uploaded to that database.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ]],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Input Format',    'Format of the file you wish to upload as entrypoints. ' ],
          [ 'Submit', "Once you've reviewed the input format and the target database, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [ 'Tool developed internally and integrated into the Workbench by Sameer Paithankar at <a href="http://brl.bcm.tmc.edu">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation as soon as possible.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
