<%# RENDER HTML %>
<div style="height: 380px; width: 500px; " class="wbDialog wbHelp" >
  <h4 align="center" class="wbTitle">Tool Help Resources</h4>
  
  <h4>Epigenome Toolset</h4>
  <ul class="wbIntro">
    <li><b>Compute Similarity Matrix (heatmap) Tool:</b> 
      <a href="https://docs.google.com/file/d/0Bz3_YiJBA_j3YUItUGhqa2QtQkU/edit?usp=drive_web" target="_gbUsecase" style="color: blue;">Use Case Video Tutorial</a>
    </li>
    <li>
      <b>Sets of Use Cases</b>
      <ul>
        <li>
        <a href="http://genboree.org/theCommons/projects/6th-workshop/wiki/use_cases" target="_blank" style="color: blue;">Epigenome Informatics 6th Workshop </a>&nbsp;&nbsp;&nbsp;<img src="/images/silk/date.png" />Mar 2013 
        </li>
        <li>
        <a href="http://genboree.org/theCommons/projects/ashg2013/wiki/Ashg2013" target="_blank" style="color: blue;">ASHG Workshop </a>&nbsp;&nbsp;&nbsp;<img src="/images/silk/date.png" />Oct 2013 
        </li>
      </ul>
    </li>
  </ul>
 
  <br><br> 
  <h4>Transcriptome Toolset</h4>
  <ul class="wbIntro">
    <li>
      <a href="http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki" target="_blank" style="color: blue;">exRNA Data Analysis Tools</a> 
    </li>
    <li>
      <b>Tutorials & Slides</b>
      <ul>
        <li>
          <a href="http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/May_2014" target="_blank" style="color: blue;">ERCC 2nd Investigators' Meeting</a>&nbsp;&nbsp;&nbsp;<img src="/images/silk/date.png" />May 2014 
        </li>
        <li>
          <a href="http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/November_2014" target="_blank" style="color: blue;">ERCC 3rd Investigators' Meeting</a>&nbsp;&nbsp;&nbsp;<img src="/images/silk/date.png" />November 2014 
        </li>
        <li>
          <a href="http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/April_2015" target="_blank" style="color: blue;">ERCC 4th Investigators' Meeting & ISEV Annual Meeting</a>&nbsp;&nbsp;&nbsp;<img src="/images/silk/date.png" />April 2015 
        </li>
        <li>
          <a href="http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/May_2015" target="_blank" style="color: blue;">CIBR RNA-Seq Workshop </a>&nbsp;&nbsp;&nbsp;<img src="/images/silk/date.png" />May 2015 
        </li>
      </ul>
    </li>  
    <li>
      <b>Video Tutorials</b>
      <ul>
        <li>
        <a href="https://docs.google.com/file/d/0Bz3_YiJBA_j3WHBpQmp2S0ljb0U/edit" target="_blank" style="color: blue;">Long RNA-Seq data analysis pipeline using RSEQtools</a> 
        </li>
        <li>
        <a href="https://docs.google.com/file/d/0Bz3_YiJBA_j3b1EzR3ZEWGFEam8/edit" target="_blank" style="color: blue;">exceRpt smallRNA-seq Pipeline for exRNA Profiling</a> 
        </li>
      </ul>
    </li>
  </ul>
  <br><br> 
</div>
