<%
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
        TopHat is a fast splice junction mapper for RNA-Seq reads. It aligns RNA-Seq reads to mammalian-sized genomes using the
        ultra high-throughput short read aligner Bowtie, and then analyzes the mapping results to identify splice junctions between exons.
        <br>&nbsp;<br>
        TopHat is a collaborative effort between the <a href='http://genomics.jhu.edu'>Institute of Genetic Medicine</a> at Johns Hopkins University,
        the <a href='http://math.berkeley.edu'>Departments of Mathematics</a> and <a href='http://www.mcb.berkeley.edu'>Molecular and Cell Biology</a>
        at the University of California, Berkeley and the Department of Stem Cell and Regenerative Biology at Harvard University.
        <center><span class='footnote'>[ TopHat is described in <a href='http://bioinformatics.oxfordjournals.org/content/25/9/1105.abstract'>this journal article</a>. ]</span></center>
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the 2 FASTQ files into &quot;Input Data&quot;.',
          "Optionally drag a folder or a file entity list with 2 FASTQ files into &quot;Input Data&quot;. "
        ],
        :types              => [ [ 'File', 'min: 0 ; max: 2' ], [ 'Files Dir', 'min: 1 ; max: 1' ], [ 'Files Entity', 'min: 1 ; max: 1' ] ],
        :beEmpty            => true
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up under the <u>TopHat</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', "The output folder (under 'TopHat') used to organize TopHat results."],
          [ 'Upload Results ?', 'Check this to upload the result as a Genboree track in the output database for subsequent processing, or viewing in Genboree or UCSC.'],
          [ 'Track Name', 'If uploading the results as a track, provide an LFF-style track name. Preferably not an existing track in the output database.'],
          [ 'Auto-Determine Mate Inner Dist And Stdev ?', 'Check this to automatically compute the expected (mean) and standard deviation [Default: 20] of the inner distance between mate pairs. Uncheck to enter custom value. [A BWA-based preprocessing script will be run on the pair of sequence files which will be used to determine the right value.]'],
          [ 'Min Anchor Length', 'The "anchor length". TopHat will report junctions spanned by reads with at least this many bases on each side of the junction. Note that individual spliced alignments may span a junction with fewer than this many bases on one side. However, every junction involved in spliced alignments is supported by at least one read with this many bases on each side [Default: 8].'],
          [ 'Splice Mismatches', 'The maximum number of mismatches that may appear in the "anchor" region of a spliced alignment.  [Default: 0].'],
          [ 'Min Intron Length', 'The minimum intron length. TopHat will ignore donor/acceptor pairs closer than this many bases apart.  [Default: 70].'],
          [ 'Max Intron Length', 'The maximum intron length. When searching for junctions ab initio, TopHat will ignore donor/acceptor pairs farther than this many bases apart, except when such a pair is supported by a split segment alignment of a long read  [Default: 500000].'],
          [ 'Max Insertion Length', 'The minimum insertion length. [Default: 3].'],
          [ 'Max Deletion Length', 'The minimum deletion length. [Default: 3].'],
          [ 'Coverage Search ?', 'Check to enable coverage search. Enables the coverage based search for junctions. Use when coverage search is disabled by default (such as for reads 75bp or longer), for maximum sensitivity. [Default: disabled]' ],
          [ 'Advanced Settings:',  "The following options are in the Advanced Settings section.</i><br>&nbsp;<br>" ],
          [ 'Initital Read Mismatches', 'Reads are initially mapped, allowing up to this many mismatches in each read alignment. [Default: 2]'],
          [ 'Segment Mismatches', 'Read segments are mapped independently, allowing up to this many mismatches in each segment alignment. [Default: 2]'],
          [ 'Segment Length', 'Each read is cut up into segments, each at least this long. These segments are mapped independently. [Default: 25]'],
          [ 'Maximum Coverage Intron', 'The maximum intron length that may be found during coverage search. [Default: 5000]'],
          [ 'Minimum Coverage Intron',  'The minimum intron length that may be found during coverage search. [Default: 50]'],
          [ 'Maximum Coverage Intron', 'The maximum intron length that may be found during coverage search. [Default: 20000]'],
          [ 'Minimum Segment Intron',  'The minimum intron length that may be found during split-segment search. [Default: 50]'],
          [ 'Maximum Segment Intron', 'The maximum intron length that may be found during split-segment search. [Default: 500000]'],
          [ 'Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [
                                    'Trapnell C, Pachter L, Salzberg SL. <i>TopHat: discovering splice junctions with RNA-Seq.</i> Bioinformatics. <b>2009</b> May 1;<b>25(9)</b>:1105-11.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/19289445">PubMed</a>]</span>'
                                  ],
                                  [
                                    'Langmead B, Trapnell C, Pop M, Salzberg SL. <i>Ultrafast and memory-efficient alignment of short DNA sequences to the human genome.
                                    </i> Genome Biology. <b>2009</b> Mar 4;<b>10(3)</b>:R25.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/19261174">PubMed</a>]</span>'
                                  ],
                                  [ 'Integrated into the Genboree Workbench by Sameer Paithankar at <a href="http://brl.bcm.tmc.edu">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
