<%
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "<p>This tool runs FindER tool and chromHMM LearnModel job for a set of tracks. </p>
         <p>To set up the job</p>
         Populate <strong>Input Data</strong>
          <ul>
            <li>Drag input Track(s) or Track Entity List(s) or a Class into <strong>Input Data</strong></li>
            <li>Tracks can be configured by using the Interactive Grid in the  <code>Edit & Select Track Metadata settings. </code><br> </li>
            <li> Once edited, rows/tracks in the <code>name</code> column MUST be selected </li>
           <li>Edit feature in the grid enables to change track metadata. Changing <i>chromHMMCell</i> value of one track changes all the tracks with that value to the new edited value. For instance, changing one track <i>chromHMMCell</i> value from <i>xxxx<i> to <i>yyyy</i> will automatically change all the tracks with <i>xxxx</i> to <i>yyyy</i></li>
           <li> The current version supports only human genome hg19 assembly version </li>
           <li> Control tracks can be set by typing in \'yes\' in the respective grid cell. </li>
          </ul>
          Populate <strong>Output Targets</strong>
          <ul>
            <li>Drag a database and a project into <strong>Output Targets</strong>. All the results will be available under the folder FindERChromHMM - Results, in the target database. All the images will be available as a link in the target project page.</li>
          </ul>
          Configure &#38; Submit the FindER-ChromHMM Job
          <ul>
            <li>Select: <code>Epigenome</code>  &raquo; <code>ChromHMM</code> &raquo; <code>FindERChromHMM</code></li>
            <li>Use default or select new FindER ChromHMM MakeSignal settings.</li>
            <li>Click <code>Submit</code></li>
          </ul>
          This tool  will output files (in the Data Selector under Files, in the database provided in <strong>Output Targets</strong>).  These files will be under <u>FindERChromHMM - Results</u> folder.


        <br>&nbsp;<br>
        
        <center><span class='footnote'>[ Detailed description of FindER can be found <a href='http://www.epigenomes.ca/finder.html' target='_blank'>this reference page</a>. ]</span></center>
        <br>&nbsp;<br>

        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       => ['Drag <u>Track(s)</u> or/and <u>Track Entity lists</u>.'],
        :types              => [[ 'Tracks', 'min: 0 ; max: any' ], [ 'Track Entity List', 'min: 0 ; max: any'], [ 'Class', 'min: 0 ; max: any' ]],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>database</u> and a <u> Project </u> into &quot;Output Targets&quot;. The results data will end up under the <u>FindERChromHMM - Results</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] , [ 'Project', 'min: 1; max: 1']],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [

          [ 'Analysis Name', "The output folder (under 'FindERChromHMM - Results') used to organize results."],
          [ 'States', 'Number of states for chromHMM LearnModel. This cannot be greater than 2**{number_of_marks}'],
          [ 'Bin Size', 'Bin size is the window length in base pairs based on which the genome vector is generated. Default:200'],
          [ 'Step', 'Wiggle track option used by FindER and genomeCoverage tool. Default:200'],
          [ 'Save & Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [ ['Ernst J, Kellis M. <i>ChromHMM: automating chromatin-state discovery and characterization.</i> Nature Methods, 2012; 9:215-216.
                                    <span style="font-size: 78%;">[<a href="http://www.nature.com/nmeth/journal/v9/n3/full/nmeth.1906.html" target="_blank">Nature Methods</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed/22373907" target="_blank">Pubmed</a>]</span>'],
                                  ['Pipeline developed by Sitanshu Gakkhar at <a href="http://www.bcgsc.ca/" target="_blank">BCGSC</a>.', nil],
                                  ['Integrated into the Genboree Workbench by Neethu Shah at <a href="http://brl.bcm.tmc.edu" target="_blank">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
