.x-grid3-hd-remove {
  background: transparent url(/images/silk/cross.png) no-repeat !important;
  padding: 2px;
  height: 16px;
}

p.helpWindow {
  background:white none repeat scroll 0 0;
  border:1px solid #888888;
  padding:5px 10px;
}
ul.helpWindow {
  padding: 5px 10px 5px 20px;
}

#ImportTable {
  width: 100%;
  border: 1px solid #4C3D99;
  border-collapse:collapse;
}

#ImportTable th {
  font-weight:bolder;
  border: 1px solid #4C3D99;
  padding:2px 2px 2px 2px;
}

#ImportTable td {
  border: 1px solid #4C3D99;
  padding:2px 2px 2px 2px;
}

strong {
  font-style:normal;
  font-weight:bolder;
}

td.form_header {
  background-color:#4C3D99;
  color:white;
  padding:4px;
  font-weight:bolder;
  font-style: normal;
}

td, th {
  font-size:67%;
}

#tree {	
	width:380px;
	height:215px;
}

td.x-grid3-hd-over .x-grid3-hd-inner, td.sort-desc .x-grid3-hd-inner, td.sort-asc .x-grid3-hd-inner, td.x-grid3-hd-menu-open .x-grid3-hd-inner {
  background: #4C3D99;
  color: #FFFFFF;
  font-weight:bolder;
}