
/** Lost Password styles **/
ul.options
{
  text-align: right ;
}

ul.options li
{
  margin-top: 5px ;
}

ul.options input[type=text],
ul.options input[type=email]
{
  border: 1px solid #AAA ;
  color: #333 ;
  font-size: 1.25em ;
  padding: 3px ;
  text-align: right ;
  width: 75% ;
}
