<div class="col-sm-12">
 <%= label_tag 'password', 'Password: (at least six characters/numbers)' %>
</div>
<div class="col-sm-12">
 <%= password_field_tag 'password', "" , { "class" => "form-control", "required" => true } %>
</div>
<div class="col-sm-12">
 <%= label_tag 'password-retype', 'Re-type Password:' %>
</div>
<div class="col-sm-12">
 <%= password_field_tag 'password-retype', "" , { "class" => "form-control", "required" => true } %>
</div>
