<%
  width = (@hasAccess ? 600 : 320)
  height = (@hasAccess ? 525 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle, { :includeToolVersion => true }) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
    <% if !@context['wbErrorMsg'].nil? and !@context['wbErrorMsg'].empty? %> 
      <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) %>
    <% end %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      {
        :toolHelpOverview =>
        "
        <b>Overview</b>
        <p>This tool takes a column of miRNA identifiers from an input TXT file and generates miRNA-protein target interaction files in both a tabular CSV format and a network XGMML format.  The target interactions are sourced from miRTarBase<sup>1</sup>, an experimentally validated miRNA-target interaction database. The CSV and XGMML files can be imported into downstream tools, such as Cytoscape2, for network analysis and visualization.</p>
        <br>
        <b>From a column of identifiers... to a network of interactions</b>
        <br>
        <br>
        <img src='/images/workbench/columnOfIdentifiers.png' style='float:left; padding: 0px 4px 10px 4px; width:256px; height:220px;'>
        <img src='/images/workbench/arrow_target.png' style='padding: 0px 8px 20px 8px;'>
        <img src='/images/workbench/networkOfInteractions.png' style='padding: 0px 4px 10px 4px; width:256px; height:192px;'>
        <br>
        <br>
        <b>Inputs</b>: Drag the input file(s) with a column of miRNA identifiers into &quot;Input Data.&quot; (Identifiers should be in the first column.) Files can also be compressed.
        <br>
        <br>
        <u>NOTE</u>: To upload input files to your database, use <code>Data</code> &raquo; <code>Files</code> &raquo <code>Transfer File</code> from the toolset menu.
        <br>
        <br>
        <b>Outputs</b>: Various .xgmml files (network graphs), .csv file (table), and .log file containing summary of interactions.
        <br>
        <br>
        <u>NOTE</u>: To download any file from your database to your computer, click the file name in the <code>Data Selector</code> tree, then click on the <code>Click to Download File</code> link in the <code>Details</code> panel.
        <br>
        <br>
        <b>Video Tutorial</b>: Please view the video tutorial for using the \"Target Interaction Finder\" tool:
        <br><br>
        <iframe src=\"https://www.youtube.com/embed/Ue_g8rj3DgE?rel=0&html5=1\"
        width=\"420\" height=\"315\" frameborder=\"0\" allowfullscreen></iframe>
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag at least 1 input file with a column of miRNA identifiers into &quot;Input Data&quot;.',
          "Alternatively, drag at least 1 folder or file entity list with any number of input files into &quot;Input Data&quot;."
        ],
        :types              => [ [ 'File', 'min: 1 ; max: any' ], [ 'Files Dir', 'min: 1 ; max: any' ], [ 'Files Entity', 'min: 1 ; max: any' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up under the <u>TargetInteractionFinder</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.'],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', "The top-level output folder (under 'TargetInteractionFinder') used to organize results."],
          [ 'ERCC Submission Options', "If you are not a member of the ERCC, ignore this section. If you are a member of the ERCC, choose the appropriate options for your submission with respect to your grant number and anticipated data repository. If your submission does not fall under an ERCC grant, then choose the 'Non-ERCC Funded Study' option. If you are an ERCC member and your PI / grant numbers are not showing up properly, please email Sai at sailakss@bcm.edu with your PI's name so you can be added to our database as a submitter."],
          [ 'Remote Storage Area', "If you've used the 'Create Remote Storage Area' tool to create a remote storage (FTP) area, you can choose an area where your results will be uploaded. You can learn more by visiting the <a href=\'http://genboree.org/theCommons/projects/exrna-tools-may2014/wiki/Using_Remote_%28FTP%29_Storage_for_exceRpt\' target=\'_blank\'>tutorial</a>. Default: 'None Selected'." ],
          [ 'Submit', "After reviewing the inputs, the output destination database, and your settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [ 'miRTarBase source database for experimentally validated miRNA-protein target interactions: Chou et al. miRTarBase 2016: updates to the experimentally validated miRNA-target interactions database. NAR, Database Issue, Vol 44(D1). http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4702890/' ],
                                  [ 'Cytoscape tool for network visualization and analysis: Shannon, P, et al. Cytoscape: a software environment for integrated models of biomolecular interaction networks. Genome Research, 13(11). http://genome.cshlp.org/content/13/11/2498.full' ],
                                  [ 'Target Interaction Finder tool written by Anders Riutta and Alexander Pico at the UCSF Gladstone Institute, San Francisco, CA.' ],
                                  [ 'Integrated into the Genboree Workbench by <a href=\'mailto:thistlew@bcm.edu\'>William Thistlethwaite</a> and <a href=\'mailto:sailakss@bcm.edu\'>Sai Lakshmi Subramanian</a> at <a href=\'http://genboree.org/site/bioinformatics_research_laboratory\' target=\'_blank\'>BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
<%# Tool-specific Addendum %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpAddendum,
      {
        :html =>
        "
          <a name='addendum' id='addendumAnchor'>
            <div style='display:block; margin: 15px; auto; 8px; auto; text-align:center; color:#0052DC; font-size:12pt; font-weight:bold;'>  
              Addendum
            </div>
          </a>
          <b>A. Output file formats</b>
          <br>
          <br>
          CSV – contains the following columns:
          <br>
          <ul>
          <li>queryid – the miRNA identifiers provided in the input file</li>
          <li>targeted – the protein identifier provided by miRTarBase, i.e., Entrez Gene</li>
          <li>pmid – pubmed identifier for article of evidence for interaction</li>
          <li>datasource – name of source database of miRNA-protein targets</li>
          </ul>
          XGMML – a standard file format for network information. Can be imported natively into network software tools, such as Cytoscape. Contains many annotations on both miRNA and protein nodes as well as on the interactions themselves.
          <br>
          <br>
          <b>B. Performance</b>
          <br>
          <br>
          The input list of miRNA identifiers will typically be fewer than 100 in number. Such lists will be processed in under 2 seconds by this script given the current miRTarBase database file. The output from 100 miRNA identifiers will include 4,000-6,000 miRNA-protein target interactions, all experimentally validated per the methods described in reference 1.
        "
      })
%>

</div>
