<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8;charset=utf-8" />
<title>Microbiome Citation</title>
<meta name="description" content="Citation for microbiome" />
<meta name="keywords" content="microbiome, citation, microbiome citation" />
<link href="styles/application.css" media="all" rel="stylesheet" type="text/css" />
<script src="javascript/prototype.js" type="text/javascript"></script>
<script src="javascript/effects.js" type="text/javascript"></script>
<script src="javascript/dragdrop.js" type="text/javascript"></script>
<script src="javascript/controls.js" type="text/javascript"></script>
<script src="javascript/application.js" type="text/javascript"></script>
<link href="styles/jstoolbar.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if IE]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
      body {behavior: url(/theCommons/stylesheets/csshover.htc?1265237822);}
    </style>
<![endif]-->
 <script src="javascript/projects_tree_view.js" type="text/javascript"></script><link href="styles/projects_tree_view.css" media="screen" rel="stylesheet" type="text/css" /> <link href="styles/wiki_extion.css" media="screen" rel="stylesheet" type="text/css" /><script src="javascript/wiki_extion.js" type="text/javascript"></script>
<!-- page specific tags -->

<link href="http://genboree.org/theCommons/projects/tcmcsc/activity.atom?key=c54ce35d3330d734f8ec12a32e04e6ab80f4c739" rel="alternate" title="ATOM" type="application/atom+xml" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24508931-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrapper">
<div id="top-menu">

    <div id="account">
<!--    <ul><li><a href="http://genboree.org/theCommons/my/account" class="my-account">My account</a></li>
<li><a href="http://genboree.org/theCommons/logout" class="logout">Sign out</a></li></ul>    </div>
    <div id="loggedas">Logged in as <a href="http://genboree.org/theCommons/users/102">kevin_riehle</a> </div>-->
<!--<ul><li><a href="/theCommons/login" class="login">Sign in</a></li></ul>-->   </div>


    <ul><li><a href="http://genboree.org/theCommons/projects" class="projects">Projects</a></li>
<li><a href="http://www.redmine.org/guide" class="help">Help</a></li></ul></div>
      
<div id="header">
    <div id="quick-search">
        <form action="http://genboree.org/theCommons/search/index/tcmcsc" method="get">
        
        <a href="" accesskey="4">Search</a>:
        <input accesskey="f" class="small" id="q" name="q" size="20" type="text" />
        </form>

    </div>
    
    <h1><a href="" class="root">Integrated Microbiome Toolset</a> </h1>
    
    <div id="main-menu">
        <ul><li><a href="index.rhtml" class="activity">Microbiome Home</a></li>
<li><a href="release_notes.rhtml" class="activity">Release Notes</a></li>
<li><a href="pending_updates.rhtml" class="activity">Pending Updates</a></li>
<li><a href="tutorial.rhtml" class="documents">Tutorial</a></li>
<li><a href="faqs.rhtml" class="wiki">FAQs</a></li>
<li><a href="citation.rhtml" class="overview selected">Citation Information</a></li>
<li><a href="forum.rhtml" class="ezfaq">Forum</a></li>
<li><a href="supplemental.rhtml" class="settings">Supplemental Information</a></li></ul>
    </div>


</div>

<div class="" id="main">
        
    <div id="content">
				
<div class="wiki">
  <h1 id="-Manuscript-currently-in-preparation"> Manuscript currently in preparation:<a href="#-Manuscript-currently-in-preparation" class="wiki-anchor">&para;</a></h1>


	<h3 id="-Integrated-Microbiome-Toolset-A-Genboree-Workbench-Powered-Toolset-Developed-for-the-Analysis-of-16S-rRNA-Microbial-Sequences"> <ins>Integrated Microbiome Toolset:* A Genboree Workbench Powered Toolset Developed for the Analysis of 16S rRNA Microbial Sequences</ins><a href="#-Integrated-Microbiome-Toolset-A-Genboree-Workbench-Powered-Toolset-Developed-for-the-Analysis-of-16S-rRNA-Microbial-Sequences" class="wiki-anchor">&para;</a></h3>
	<br>

	<h1 id="Suggested-reading">Suggested reading:<a href="#Suggested-reading" class="wiki-anchor">&para;</a></h1>


	<ul>
	<li><strong>(2005) RDCT:</strong> R: A language and environment for statistical computing. In. Vienna, Austria: R Foundation for Statistical Computing; 2005.</li>

		<li><strong>Caporaso G, Bittinger K, Bushman F, DeSantis T, Andersen G, Knight R:</strong> PyNAST: a flexible tool for aligning sequences to a template alignment. Bioinformatics 2010, 26(2):266-267.</li>
		<li><strong>Caporaso G, Kuczynski J, Stombaugh J, Bittinger K, Bushman F, Costello E, Fierer N, Pena A, Goodrich J, Gordon J et al:</strong> QIIME allows analysis of high-throughput community sequencing data. Nature Methods 2010, 7(5):335-336.</li>
		<li><strong>Chang JY, Antonopoulos DA, Kalra A, Tonelli A, Khalife WT, Schmidt TM, Young VB:</strong> Decreased diversity of the fecal Microbiome in recurrent Clostridium difficile-associated diarrhea. J Infect Dis 2008, 197(3):435-438.</li>
		<li><strong>Chao A:</strong> Nonparametric estimation of the number of classes in a population. Scandinavian Journal of Statistics 1984, 11(4):265-270.</li>

		<li><strong>Charlson ES, Chen J, Custers-Allen R, Bittinger K, Li H, Sinha R, Hwang J, Bushman FD, Collman RG:</strong> Disordered Microbial Communities in the Upper Respiratory Tract of Cigarette Smokers. PLoS ONE 2010, 5(12):e15216.</li>
		<li><strong>Chen VB, Davis IW, Richardson DC:</strong> KING (Kinemage, Next Generation): A versatile interactive molecular and scientific visualization program. Protein Science 2009, 18(11):2403-2409.</li>
		<li><strong>DeSantis TZ, Hugenholtz P, Larsen N, Rojas M, Brodie EL, Keller K, Huber T, Dalevi D, Hu P, Andersen GL:</strong> Greengenes, a chimera-checked 16S rRNA gene database and workbench compatible with ARB. Applied and environmental microbiology 2006, 72(7):5069-5072.</li>
		<li><strong>Dethlefsen L, Huse S, Sogin ML, Relman DA:</strong> The pervasive effects of an antibiotic on the human gut microbiota, as revealed by deep 16S rRNA sequencing. PLoS biology 2008, 6(11):e280.</li>

		<li><strong>Edgar RC:</strong> Search and clustering orders of magnitude faster than BLAST. Bioinformatics 2010, 26(19):2460-2461.</li>
		<li><strong>Fielding RT, Taylor RN:</strong> Principled design of the modern Web architecture. In: 2000. IEEE: 407-416.</li>
		<li><strong>Fierer N, Lauber CL, Zhou N, McDonald D, Costello EK, Knight R:</strong> Forensic identification using skin bacterial communities. Proceedings of the National Academy of Sciences of the United States of America 2010, 107(14):6477-6481.</li>
		<li><strong>Gavin DG, Oswald WW, Wahl ER, Williams JW:</strong> A statistical approach to evaluating distance metrics and analog assignments for pollen records. Quaternary Research 2003, 60(3):356-367.</li>

		<li><strong>Haas BJ, Gevers D, Earl AM, Feldgarden M, Ward DV, Giannoukos G, Ciulla D, Tabbaa D, Highlander SK, Sodergren E et al:</strong> Chimeric 16S rRNA sequence formation and detection in Sanger and 454-pyrosequenced PCR amplicons. Genome Research 2011, 21(3):494-504.</li>
		<li><strong>Hamady M, Knight R:</strong> Microbial community profiling for human microbiome projects: Tools, techniques, and challenges. Genome research 2009, 19(7):1141-1152.</li>
		<li><strong>Kindt R, Coe R:</strong> Tree diversity analysis. A manual and software for common statistical methods for ecological and biodiversity studies. Nairobio: World Agroforestry Centre (ICRAF); 2005.</li>
		<li><strong>Knights D, Costello EK, Knight R:</strong> Supervised classification of human microbiota. FEMS Microbiology Reviews 2010:no-no.</li>

		<li><strong>Knights D, Kuczynski J, Koren O, Ley R, Field D, Knight R, DeSantis T, Kelley S:</strong> Supervised classification of microbiota mitigates mislabeling errors. The ISME Journal 2010, 5(4):570-573.</li>
		<li><strong>Kuczynski J, Liu Z, Lozupone C, McDonald D, Fierer N, Knight R:</strong> Microbial community resemblance methods differ in their ability to detect biologically relevant patterns. Nature methods 2010, 7(10):813-819.</li>
		<li><strong>Kursa MB, Rudnicki WR:</strong> Feature selection with the Boruta package.</li>
		<li><strong>Lane DJ:</strong> 16S/23S rRNA sequencing. Nucleic Acid Techniques in Bacterial Systematics 1991:115-175.</li>

		<li><strong>Leinonen R, Sugawara H, Shumway M:</strong> The sequence read archive. Nucleic Acids Research 2010.</li>
		<li><strong>Letunic I, Bork P:</strong> Interactive Tree Of Life (iTOL): an online tool for phylogenetic tree display and annotation. Bioinformatics 2007, 23(1):127-128.</li>
		<li><strong>Li M, Wang B, Zhang M, Rantalainen M, Wang S, Zhou H, Zhang Y, Shen J, Pang X, Wei H et al:</strong> Symbiotic gut microbes modulate human metabolic phenotypes. Proceedings of the National Academy of Sciences of the United States of America 2008, 105(6):2117-2122.</li>
		<li><strong>Li W, Godzik A:</strong> Cd-hit: a fast program for clustering and comparing large sets of protein or nucleotide sequences. Bioinformatics 2006, 22(13):1658-1659.</li>

		<li><strong>Liaw A, Wiener M:</strong> Classification and Regression by randomForest. R news 2002, 2(3):18-22.</li>
		<li><strong>Lozupone C, Knight R:</strong> UniFrac: a new phylogenetic method for comparing microbial communities. Applied and environmental microbiology 2005, 71(12):8228-8235.</li>
		<li><strong>Lozupone CA, Hamady M, Kelley ST, Knight R:</strong> Quantitative and qualitative beta diversity measures lead to different insights into factors that structure microbial communities. Applied and environmental microbiology 2007, 73(5):1576-1585.</li>
		<li><strong>Magurran AE:</strong> Measuring biological diversity: Wiley-Blackwell; 2004.</li>

		<li><strong>Oksanen J, Blanchet FG, Kindt R, Legendre P, O'Hara RB, Simpson GL, Solymos P, Stevens MHH, Wagner H:</strong> vegan: Community Ecology Package. In.; 2011.</li>
		<li><strong>Oswald WW, Brubaker LB, Hu FS, Gavin DG:</strong> Pollen-Vegetation Calibration for Tundra Communities in the Arctic Foothills, Northern Alaska. Journal of Ecology 2003, 91(6):1022-1033.</li>
		<li><strong>Qin J, Li R, Raes J, Arumugam M, Burgdorf K, Manichanh C, Nielsen T, Pons N, Levenez F, Yamada T et al:</strong> A human gut microbial gene catalogue established by metagenomic sequencing. Nature 2010, 464(7285):59-65.</li>
		<li><strong>Renyi A:</strong> On measures of entropy and information. In: Proceedings of the Fourth Berkeley Symposium in Mathematical Statistics: 1961; Berkeley. University of California Press: 547–561.</li>

		<li><strong>Schloss PD, Westcott SL, Ryabin T, Hall JR, Hartmann M, Hollister EB, Lesniewski RA, Oakley BB, Parks DH, Robinson CJ et al:</strong> Introducing mothur: open-source, platform-independent, community-supported software for describing and comparing microbial communities. Applied and environmental microbiology 2009, 75(23):7537-7541.</li>
		<li><strong>Shannon CE, Weaver W:</strong> The mathematical theory of communication: Citeseer; 1959.</li>
		<li><strong>Tóthmérész B:</strong> Comparison of Different Methods for Diversity Ordering. Journal of Vegetation Science 1995, 6(2):283-290.</li>
		<li><strong>Turnbaugh PJ, Hamady M, Yatsunenko T, Cantarel BL, Duncan A, Ley RE, Sogin ML, Jones WJ, Roe BA, Affourtit JP et al:</strong> A core gut microbiome in obese and lean twins. Nature 2009, 457(7228):480-484.</li>

		<li><strong>Turnbaugh PJ, Ley RE, Hamady M, Fraser-Liggett CM, Knight R, Gordon JI:</strong> The human microbiome project. Nature 2007, 449(7164):804-810.</li>
		<li><strong>Wang Q, Garrity GM, Tiedje JM, Cole JR:</strong> Naive Bayesian classifier for rapid assignment of rRNA sequences into the new bacterial taxonomy. Applied and environmental microbiology 2007, 73(16):5261-5267.</li>
		<li><strong>Whittaker RH:</strong> Evolution and measurement of species diversity. Taxon 1972(21):213-251.</li>
		<li><strong>Wilcoxon F:</strong> Individual comparisons by ranking methods. Biometrics Bulletin 1945, 1(6):80-83.</li>

		<li><strong>Zoetendal EG, Akkermans AD, De Vos WM:</strong> Temperature gradient gel electrophoresis analysis of 16S rRNA from human fecal samples reveals stable and host-specific communities of active bacteria. Applied and environmental microbiology 1998, 64(10):3854-3859.</li>
	</ul>


	<p></p>
</div>







  
	



	<div style="clear:both;"></div>
    </div>
</div>

<div id="ajax-indicator" style="display:none;"><span>Loading...</span></div>
	
<div id="footer">
    Powered by <a href="http://www.redmine.org/">Redmine</a> &copy; 2006-2010 Jean-Philippe Lang
</div>
</div>

</body>
</html>

