    <div id="main-menu">
        <ul><li><a href="index.rhtml" class="overview selected">Microbiome Home</a></li>
<li><a href="release_notes.rhtml" class="activity">Release Notes</a></li>
<li><a href="pending_updates.rhtml" class="activity">Pending Updates</a></li>
<li><a href="tutorial.rhtml" class="documents">Tutorial</a></li>
<li><a href="faqs.rhtml" class="wiki">FAQs</a></li>
<li><a href="citation.rhtml" class="boards">Citation Information</a></li>
<li><a href="forum.rhtml" class="ezfaq">Forum</a></li>
<li><a href="supplemental.rhtml" class="settings">Supplemental Information</a></li></ul>
    </div>
