<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8;charset=utf-8" />
<title>Microbiome Tutorial</title>
<meta name="description" content="microbiome tutorial" />
<meta name="keywords" content="microbiome, tutorial, microbiome tutorial" />
<link href="styles/application.css" media="all" rel="stylesheet" type="text/css" />
<script src="javascript/prototype.js" type="text/javascript"></script>
<script src="javascript/effects.js" type="text/javascript"></script>
<script src="javascript/dragdrop.js" type="text/javascript"></script>
<script src="javascript/controls.js" type="text/javascript"></script>
<script src="javascript/application.js" type="text/javascript"></script>
<link href="styles/jstoolbar.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if IE]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
      body {behavior: url(/theCommons/stylesheets/csshover.htc?1265237822);}
    </style>
<![endif]-->
 <script src="javascript/projects_tree_view.js" type="text/javascript"></script><link href="styles/projects_tree_view.css" media="screen" rel="stylesheet" type="text/css" /> <link href="styles/wiki_extion.css" media="screen" rel="stylesheet" type="text/css" /><script src="javascript/wiki_extion.js" type="text/javascript"></script>
<!-- page specific tags -->

<link href="http://genboree.org/theCommons/projects/tcmcsc/activity.atom?key=c54ce35d3330d734f8ec12a32e04e6ab80f4c739" rel="alternate" title="ATOM" type="application/atom+xml" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24508931-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrapper">
<div id="top-menu">

    <div id="account">
<!--    <ul><li><a href="http://genboree.org/theCommons/my/account" class="my-account">My account</a></li>
<li><a href="http://genboree.org/theCommons/logout" class="logout">Sign out</a></li></ul>    </div>
    <div id="loggedas">Logged in as <a href="http://genboree.org/theCommons/users/102">kevin_riehle</a> </div>-->
<!--<ul><li><a href="/theCommons/login" class="login">Sign in</a></li></ul>-->  </div>


    <ul><li><a href="http://genboree.org/theCommons/projects" class="projects">Projects</a></li>
<li><a href="http://www.redmine.org/guide" class="help">Help</a></li></ul></div>
      
<div id="header">
    <div id="quick-search">
        <form action="http://genboree.org/theCommons/search/index/tcmcsc" method="get">
        
        <a href="" accesskey="4">Search</a>:
        <input accesskey="f" class="small" id="q" name="q" size="20" type="text" />
        </form>

    </div>
    
    <h1><a href="" class="root">Integrated Microbiome Toolset</a> </h1>
    
    <div id="main-menu">
        <ul><li><a href="index.rhtml" class="activity">Microbiome Home</a></li>
<li><a href="release_notes.rhtml" class="activity">Release Notes</a></li>
<li><a href="pending_updates.rhtml" class="activity">Pending Updates</a></li>
<li><a href="tutorial.rhtml" class="overview selected">Tutorial</a></li>
<li><a href="faqs.rhtml" class="wiki">FAQs</a></li>
<li><a href="citation.rhtml" class="boards">Citation Information</a></li>
<li><a href="forum.rhtml" class="ezfaq">Forum</a></li>
<li><a href="supplemental.rhtml" class="settings">Supplemental Information</a></li></ul>
    </div>


</div>

<div class="" id="main">
        
    <div id="content">
				

<div class="wiki"> 
  <h1 id="Overview">Overview<a href="#Overview" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4>We will be going through a tutorial on the Integrated Microbiome Toolset with publicly available data:
	<ul> 
	<li>Sample Meta Data
	
	<ul> 
	<li><a class="external" href="include/data/tutorial_meta_data.tsv">tutorial_meta_data.tsv</a></li> 
	
	</ul> 
	</li> 
		<li>Sequence Files <em>(90M)</em>
	
	<ul> 
	<li><a class="external" href="include/data/tutorial_sequence_files.tar.gz">tutorial_sequence_files.tar.gz</a></li> 
	</ul></li> 
	</ul></h4> 
 
 
	<h1 id="-Create-Sample-Meta-Data"> Create Sample Meta Data<a href="#-Create-Sample-Meta-Data" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4>The first step towards completing work on the Integrated Microbiome Workbench is to produce the sample meta data.  The sample meta data reflects the attributes of each sample (i.e. health, body site, BMI, etc.) as well as the necessary information required to extract the sequence data from the original SFF or SRA sequence file.</h4> 
 
 
	<h4><ins>Requirements:</ins> 
	<ul> 
	<li>Tab-delimited</li> 
		<li>The first line of the file contains the column headers, as a comment-line. It must start with a '#'.</li> 
		<li>One of the fields MUST be 'name' which should be unique for all Sample records.</li> 
		<li>All records MUST have the same number of fields/columns.</li> 
		<li>Fields:
	<ul> 
	<li>name - [Required] Unique name associated with the Sample.</li> 
		<li>barcode - [Required] The Sample-specific sequence used to barcode the sequences in multiplex sequencing. Will be used to identify which sequence records go with which Samples.</li> 
		<li>region - [optional] The name of the 16S region amplified. Defaults to V3V5 if no 'region', 'proximal', or 'distal' primer is included. The proximal and distal primer pair should amplify the region mentioned here.</li> 
		<li>proximal - [optional] The upstream primer used to amplify the microbial 16S rRNA region. If not provided, then a standard primer pair will be looked up based on the 'region' column.  For example, if the user does not know the proximal primer, they can list V3V5 in the 'region' column and the stored primer used to amplify the V3V5 region is assumed; the upstream primer in that case is CCGTCAATTCMTTTRAGT.</li> 
		<li>distal - [optional] The downstream primer used to amplify the microbial 16S rRNA region. If not provided, then a standard primer pair used looked up based on the 'region' column.  For example, if the user does not know the distal primer, they can list V3V5 in the 'region' column and the stored primer used to amplify the V3V5 region is assumed; the upstream primer in that case is CTGCTGCCTCCCGTAGG.</li> 
	</ul> 
	</li> 
		<li>Also, please avoid any spaces or any other character other than a-zA-Z0-9-_</li> 
	</ul></h4> 
 
 
	<h3 id="Sample-meta-data-ul-redsh13-li10-samplesli-li2-body-sites-ul-redsh14-liStoolli-liThroatli-ul-li-li1-primer-region-ul-redsh15-liV3V5li-ulli-ul">Sample meta data
	<ul> 
	<li>10 samples</li> 
		<li>2 body sites
	<ul> 
	<li>Stool</li> 
		<li>Throat</li> 
	</ul> 
	</li> 
		<li>1 primer region
	<ul> 
	<li>V3V5</li> 
	</ul></li> 
	</ul><a href="#Sample-meta-data-ul-redsh13-li10-samplesli-li2-body-sites-ul-redsh14-liStoolli-liThroatli-ul-li-li1-primer-region-ul-redsh15-liV3V5li-ulli-ul" class="wiki-anchor">&para;</a></h3> 
 
 
	<table> 
		<tr> 
			<td> #name </td> 
			<td> barcode </td> 
			<td> proximal </td> 
			<td> distal </td> 
			<td> region </td> 
			<td> body_site </td> 
		</tr> 
		<tr> 
			<td> S_700033665 </td> 
			<td> CCGTTCCTC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Stool </td> 
		</tr> 
		<tr> 
			<td> S_700035861 </td> 
			<td> ACCGGCGTTC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Stool </td> 
		</tr> 
		<tr> 
			<td> S_700095543 </td> 
			<td> ACGAATTAAC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Stool </td> 
		</tr> 
		<tr> 
			<td> S_700095850 </td> 
			<td> AACCGGATAC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Stool </td> 
		</tr> 
		<tr> 
			<td> S_700101600 </td> 
			<td> AACGGAACGC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Stool </td> 
		</tr> 
		<tr> 
			<td> T_700016994 </td> 
			<td> AATAACCGTC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Throat </td> 
		</tr> 
		<tr> 
			<td> T_700095565 </td> 
			<td> TTAATGGAAC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Throat </td> 
		</tr> 
		<tr> 
			<td> T_700095872 </td> 
			<td> CGGACCGGAAC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Throat </td> 
		</tr> 
		<tr> 
			<td> T_700101388 </td> 
			<td> CCGAACGAC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Throat </td> 
		</tr> 
		<tr> 
			<td> T_700101622 </td> 
			<td> TTCGTTCTTC </td> 
			<td> CCGTCAATTCMTTTRAGT </td> 
			<td> CTGCTGCCTCCCGTAGG </td> 
			<td> V3V5 </td> 
			<td> Throat </td> 
		</tr> 
	</table> 
 
 
 
 
	<h1 id="Create-Group">Create Group<a href="#Create-Group" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Login or create an account on <a class="external" href="http://www.genboree.org">http://www.genboree.org</a></li> 
		<li>Click the <em>Groups</em> tab</li> 
		<li>Click the <em>Create</em> tab</li> 
		<li>Enter a Name for the Group (i.e. <code>New_Tutorial_Group</code>)</li> 
		<li>Optionally enter a description</li> 
		<li>Click the 'Create' button</li> 
	</ul></h4> 
 
 
	<p><img src="images/createGroup.PNG" title="create group" /></p><br>
	 
 
	<h1 id="Create-Database">Create Database<a href="#Create-Database" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Databases</em> tab</li> 
		<li>Select your newly created Group <code>New_Tutorial_Group</code></li> 
		<li>Click <em>Create</em> tab</li> 
		<li>Enter your Database Name (i.e. <code>TutorialDB</code>)</li> 
		<li>Click 'Create' button</li> 
	</ul></h4> 
 
 
	<p><img src="images/createDB.PNG" title="create database" /></p><br>
	 
 
	<h1 id="Create-Project">Create Project<a href="#Create-Project" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Projects</em> tab</li> 
		<li>Select your newly created Group <code>New_Tutorial_Group</code></li> 
		<li>Click the <em>Create</em> tab</li> 
		<li>Enter your New Project Name (i.e. <code>TutorialProject</code>)</li> 
		<li>Click the 'Create' Button</li> 
	</ul></h4> 
 
 
	<p><img src="images/createProject.PNG" title="create group" /></p><br>
	 
 
	<h1 id="Upload-Files">Upload Files<a href="#Upload-Files" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Workbench</em> tab</li> 
		<li>Within the <em>Data Selector</em> window expand the <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code></li> 
		<li>Drag the <code>TutorialDB</code> database into the <em>Output Targets</em> window</li> 
		<li>Click the <em>Data</em> tab, the <em>Files</em> tab, and then the <em>Transfer File</em> tab</li> 
		<li>Browse to the location of <code>tutorial_meta_data.tsv</code></li> 
		<li>Click 'Submit'</li> 
		<li>Click the <em>Data</em> tab, the <em>Files</em> tab, and then the <em>Transfer File</em> tab</li> 
		<li>Browse to the location of <code>tutorial_sequence_files.tar.gz</code></li> 
		<li>Check 'Unpack Multi-File Archive'</li> 
		<li>Click 'Submit'</li> 
	</ul></h4> 
 
	<p><img src="images/dragOverDB.PNG" title="drag accross database" /></p><br>
	<p><img src="images/uploadfiles1.PNG" title="upload files 1" /></p><br>
	<p><img src="images/uploadfiles2.PNG" title="upload files 2" /></p><br>
	<p><img src="images/uploadfiles3.PNG" title="upload files 3" /></p><br>
	<p><img src="images/uploadfiles4.PNG" title="upload files 4" /></p><br>
	 
	<h1 id="View-Uploaded-Files">View Uploaded Files<a href="#View-Uploaded-Files" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> to see that your files have been uploaded and decompressed from the multi-file archive</li> 
	</ul></h4> 
 
	<p><img src="images/uploadedFilesView.PNG" title="view uploaded files" /></p>
	 
 
	<h1 id="Import-Samples">Import Samples<a href="#Import-Samples" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Drag over the <code>tutorial_meta_data.tsv</code> file from the <em>Data Selector</em> window to the <em>Output Targets</em> window</li> 
		<li>Drag over the <code>TutorialDB</code> database from the <em>Data Selector</em> window to the <em>Output Targets</em> window</li> 
		<li>Click the <em>Data</em> tab, the <em>Files</em> tab, and finally the <em>Import Samples</em> tab</li> 
		<li>Click the 'Submit' button</li> 
		<li>Wait for confirmation email</li> 
	</ul></h4> 
 
	<p><img src="images/importSamples1.PNG" title="import samples 1" /></p><br>
	<p><img src="images/importSamples2.PNG" title="import samples 2" /></p><br>
	<p><img src="images/importSamples3.PNG" title="import samples 3" /></p><br>
	 
<pre> 
Hello Tutorial IMT,
 
Your Samples Importer job has completed successfully.
 
JOB SUMMARY:
 JobID          : wbJob-samplesimporter-1310655491_546614
 File Name      : tutorial_meta_data.tsv
 
The following file(s) has been uploaded as samples:
 tutorial_meta_data.tsv
 
The Genboree Team
</pre> 
 
	<h1 id="View-Imported-Samples">View Imported Samples<a href="#View-Imported-Samples" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Samples</code> to see that your samples have been uploaded</li> 
	</ul></h4> 
 
	<p><img src="images/viewSamples.PNG" title="view samples" /></p>
	 
 
	<h1 id="Link-Samples-To-Sequence-Files">Link Samples To Sequence Files<a href="#Link-Samples-To-Sequence-Files" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Remove any items from the <em>Input Data</em> window by selecting the items and clicking the red X</li> 
		<li>Remove any items from the <em>Output Targets</em> window by selecting the items and clicking the red X</li> 
		<li>Drag the <code>Samples</code> and <code>Files</code> from the <em>Data Selector</em> window to the <em>Input Data</em> window with the following pattern:
	<ul> 
	<li>The SFF or SRA file followed by the samples associated with that input file.  This can be a one-to-one or a one-to-many relationship.
	<ul> 
	<li>SFF/SRA_XYZ
	<ul> 
	<li>SampleXYZ-1</li> 
		<li>SampleXYZ-2</li> 
		<li>SampleXYZ-3</li> 
	</ul> 
	</li> 
		<li>SFF/SRA_123
	<ul> 
	<li>Sample123-1</li> 
	</ul> 
	</li> 
		<li>SFF/SRA_abc
	<ul> 
	<li>Sampleabc-1</li> 
		<li>Sampleabc-2</li> 
	</ul> 
	</li> 
		<li>SFF/SRA_789
	<ul> 
	<li>Sample789-1</li> 
	</ul></li> 
	</ul></li> 
	</ul></li> 
	</ul></h4> 
 
 
	<h4> 
	<ul> 
	<li>This specific example has the following pattern:
	<ul> 
	<li>SRR041032.sff
	<ul> 
	<li>S_700033665</li> 
	</ul> 
	</li> 
		<li>SRR041118.sff
	<ul> 
	<li>S_700035861</li> 
	</ul> 
	</li> 
		<li>SRR041047.sff
	<ul> 
	<li>S_700095543</li> 
	</ul> 
	</li> 
		<li>SRR041105.sff
	<ul> 
	<li>S_700095850</li> 
	</ul> 
	</li> 
		<li>SRR041114.sff
	<ul> 
	<li>S_700101600</li> 
	</ul> 
	</li> 
		<li>SRR041121.sff
	<ul> 
	<li>T_700016994</li> 
	</ul> 
	</li> 
		<li>SRR041160.sff
	<ul> 
	<li>T_700095565</li> 
	</ul> 
	</li> 
		<li>SRR041098.sff
	<ul> 
	<li>T_700095872</li> 
	</ul> 
	</li> 
		<li>SRR041089.sff
	<ul> 
	<li>T_700101388</li> 
	</ul> 
	</li> 
		<li>SRR041104.sff
	<ul> 
	<li>T_700101622</li> 
	</ul></li> 
	</ul></li> 
	</ul></h4> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Data</em> tab, the <em>Samples</em> tab, and finally the <em>Sample - File Linker</em> tab</li> 
		<li>Verify that you have correctly ordered your SFF/SRA files followed by the appropriate Samples and click the 'Submit' button</li> 
		<li>Wait for the confirmation email</li> 
	</ul></h4> 
 
	<p><img src="images/linkSamples1.PNG" title="link samples 1" /></p><br>
	<p><img src="images/linkSamples2.PNG" title="link samples 2" /></p><br>
	<p><img src="images/linkSamples3.PNG" title="link samples 3" /></p><br>
	 
<pre> 
Hello Tutorial IMT,
 
Your Sample - File Linker job has completed successfully.
 
JOB SUMMARY:
 JobID          : wbJob-samplefilelinker-1310657293_947937
 
The following file(s) and samples(s) has been linked:
 SRR041104.sff(File) -&gt; T_700101622(Sample)
 SRR041160.sff(File) -&gt; T_700095565(Sample)
 SRR041105.sff(File) -&gt; S_700095850(Sample)
 SRR041089.sff(File) -&gt; T_700101388(Sample)
 SRR041047.sff(File) -&gt; S_700095543(Sample)
 SRR041121.sff(File) -&gt; T_700016994(Sample)
 SRR041114.sff(File) -&gt; S_700101600(Sample)
 SRR041032.sff(File) -&gt; S_700033665(Sample)
 SRR041098.sff(File) -&gt; T_700095872(Sample)
 SRR041118.sff(File) -&gt; S_700035861(Sample)
 
The Genboree Team
</pre> 
 
	<h1 id="Import-Sequences">Import Sequences<a href="#Import-Sequences" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Next, you will need to import your sequences from the sequence files and information contained in the sample meta data</li> 
		<li>This can be accomplished in two different ways (depending on your data set one may be faster than the other).  Either way, the end goal of this step is to have all the Samples that you wish to import in the <em>Input Data</em> window and your target database in the <em>Output Targets</em> window
	<ul> 
	<li>Import Samples - Way#1
	<ul> 
	<li>After you have linked your Samples, you can keep the Samples in the <em>Input Data</em> window, but you will have to remove all SFF/SRA files</li> 
		<li>Drag over the <code>TutorialDB</code> into the <em>Output Targets</em> window</li> 
	</ul> 
	</li> 
		<li>Import Samples - Way #2
	<ul> 
	<li>Re-enter the workbench by going to <a class="external" href="http://www.genboree.org">http://www.genboree.org</a> and clicking the <em>Workbench</em> tab
	<ul> 
	<li>This will remove all the entries from the <em>Input Data</em> window</li> 
	</ul> 
	</li> 
		<li>Drag over the Samples you wish to import from the <em>Data Selector</em> window into the the <em>Input Data</em> window</li> 
		<li>Drag over the <code>TutorialDB</code> database from the <em>Data Selector</em> window to the <em>Output Targets</em> window</li> 
	</ul></li> 
	</ul></li> 
	</ul></h4> 
 
 
	<h4> 
	<ul> 
	<li>After you have your samples in the <em>Input Data</em> window and your database in the <em>Output Targets</em> window, proceed forward</li> 
		<li>Click the <em>Analysis</em> tab, followed by the <em>Microbiome Workbench</em> tab, followed by the <em>Microbiome Sequence Import</em> tab</li> 
		<li>Select your options for sequence import
	<ul> 
	<li>At this time you can sub-select a set of sequences that you wish to import in the 'Select Samples' window.  The default action is to select all samples</li> 
		<li>Set a custom 'Sample Set Name' or leave the default (which includes a time stamp)</li> 
		<li>Optionall choose to Trim At Distal Primer, Trim at N/n, Remove sequences which contain an N, set the minimum read length, set the minimum average quality, and set the minimum sequence count</li> 
	</ul> 
	</li> 
		<li>Click 'Submit' </li> 
		<li>Wait for confirmation email</li> 
	</ul></h4> 
 
	<p><img src="images/importSeqs1.PNG" title="import sequences 1" /></p><br>
	<p><img src="images/importSeqs2.PNG" title="import sequences 2" /></p><br>
	<p><img src="images/importSeqs3.PNG" title="import sequences 3" /></p><br>
	<pre> 
Hello Tutorial Imt
 
Your Microbiome Sequence Import job is complete successfully.
 
Job Summary:
  JobID                  : wbJob-seqimport-1310658742_418198
  Analysis Name          : Sequence-Import-2011-07-14-10:50:54
 
Settings:
  minAvgQuality           : 20
  minSeqCount             : 1000
  minSeqLength            : 200
  blastDistalPrimer       : true
  cutAtEnd                : true
  trimLowQualityRun       : false
  removeNSequences        : false
 
Result File Location in the Genboree Workbench:
  Group : New_Tutorial_Group
  DataBase : TutorialDB
  Path to File:
     Files
     * MicrobiomeData
        * Sequence-Import-2011-07-14-10:50:54
 
The Genboree Team
</pre></p> 
 
 
	<h1 id="View-Imported-Sequences">View Imported Sequences<a href="#View-Imported-Sequences" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeData</code> -> <code>Sequence-Import-2011-07-14-10:50:54</code> to see that your sequences have been imported
	<ul> 
	<li>fastq
	<ul> 
	<li>fastq files for each uploaded SFF/SRA file</li> 
		<li>fastq is a file format that represents the combination of the fasta and quality score files</li> 
	</ul> 
	</li> 
		<li>sample.metadata
	<ul> 
	<li>Sample meta data file representing all samples used for analysis (appended with sequence import parameters, flags, etc. that are used for the pipeline)</li> 
	</ul> 
	</li> 
		<li>settings.json
	<ul> 
	<li>Settings in json format for sequence import pipeline</li> 
	</ul> 
	</li> 
		<li>fasta.result.tar.gz
	<ul> 
	<li>fasta file for each uploaded SFF/SRA file</li> 
	</ul> 
	</li> 
		<li>filtered_fasta.result.tar.gz
	<ul> 
	<li>Final quality filtered fasta file for each sample</li> 
	</ul> 
	</li> 
		<li>stats.result.tar.gz
	<ul> 
	<li>Sequence metrics for each sample</li> 
	</ul> 
	</li> 
		<li>jobFile.json
	<ul> 
	<li>See settings.json</li> 
	</ul></li> 
	</ul></li> 
	</ul></h4> 
 
	<p><img src="images/viewImportedSeqs.PNG" title="import sequences" /></p><br>
	 
	<h1 id="RDP-Taxonomic-Abundance-Pipeline">RDP - Taxonomic Abundance Pipeline<a href="#RDP-Taxonomic-Abundance-Pipeline" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Drag <code>Sequence-Import-2011-07-14-10:50:54</code> from the <em>Data Selector</em> window to the <em>Input Data</em> window</li> 
		<li>Drag over the <code>TutorialDB</code> into the <em>Output Targets</em> window</li> 
		<li>Drag over the <code>TutorialProject</code> into the <em>Output Targets</em> window
	<ul> 
	<li>This project is visible if you expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Projects</code> -> <code>TutorialProject</code></li> 
	</ul> 
	</li> 
		<li>Click the <em>Analysis</em> tab, followed by the <em>Microbiome Workbench</em> tab, followed by the <em>RDP</em> tab</li> 
		<li>You can optionally fill in a 'Study Name' to organize your individual runs. We will use 'Tutorial_Study' here.</li> 
		<li>Click 'Submit'</li> 
		<li>Wait for confirmation email</li> 
	</ul></h4> 
 
	<p><img src="images/rdp1.PNG" title="rdp 1" /></p><br>
	<p><img src="images/rdp2.PNG" title="rdp 2" /></p><br>
	<p><img src="images/rdp3.PNG" title="rdp 3" /></p><br>
	 
 
<pre> 
   Hello Tutorial Imt
 
   Your RDP job is complete successfully.
 
   Job Summary:
 
   JobID                  : wbJob-rdp-1310999975_892171
   Study Name             : Tutorial_Study
   Job Name               : RDP-Job-2011-07-18-09:38:29
 
   Settings:
   rdpVersion: 2.2
   rdpBootstrapCutoff: 0.8
 
   Result File Location in the Genboree Workbench:
   Group : New_Tutorial_Group
   DataBase : TutorialDB
   Path to File:
   Files
   * MicrobiomeWorkBench
     * Tutorial_Study
       *RDP
         *RDP-Job-2011-07-18-09:38:29
 
Plots URL (click or paste in browser to access file):
   Prj: TutorialProject
   URL:
http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject
 
   The Genboree Team
</pre> 
 
	<h1 id="RDP-Results">RDP Results<a href="#RDP-Results" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeWorkBench</code> -> <code>Tutorial_Study</code> -> <code>RDP</code> -> <code>RDP-Job-2011-07-18-09:38:29</code></li> 
		<li>Domain/Phyla/Class/Order/Family/Genus/Species.result.tar.gz
	<ul> 
	<li>Individual samples separated into results based on separate taxonomic depth </li> 
	</ul> 
	</li> 
		<li>counts.xlsx
	<ul> 
	<li>Raw counts of the appearance of each taxonomic depth (per sample) weighted by the RDP bootstrap classification score (i.e. 85% counts for 0.85 of an occurrence, 100% counts for 1.00 of an occurrence, etc.)</li> 
	</ul> 
	</li> 
		<li>normalized.xlsx
	<ul> 
	<li>Normalized counts of the appearance of each taxonomic depth (per sample) that sums to approximately 1.00.</li> 
	</ul> 
	</li> 
		<li>Heatmaps of each taxonomic depth are accessible via the <code>Tutorial_Study</code> project page
	<ul> 
	<li><a class="external" href="http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject">http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject</a></li> 
	</ul></li> 
	</ul></h4> 
 
	<p><img src="images/rdpResults.PNG" title="rdp results 1" /></p><br>
	<p><img src="images/projectPage.PNG" title="project page" /></p><br>
	<p><img src="images/rdpResults2.PNG" title="rdp results 2" /></p><br>
	<p><img src="images/genus-normalized.pdf-pages.PNG" title="rdp heatmap" /></p><br>
	 
	<h1 id="QIIME-Pipeline-OTU-Table-Phylogenetic-Tree-and-Beta-Diversity">QIIME Pipeline - OTU Table, Phylogenetic Tree, and Beta Diversity<a href="#QIIME-Pipeline-OTU-Table-Phylogenetic-Tree-and-Beta-Diversity" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Drag <code>Sequence-Import-2011-07-14-10:50:54</code> from the <em>Data Selector</em> window to the <em>Input Data</em> window</li> 
		<li>Drag over the <code>TutorialDB</code> into the <em>Output Targets</em> window</li> 
		<li>Drag over the <code>TutorialProject</code> into the <em>Output Targets</em> window
	<ul> 
	<li>This project is visible if you expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Projects</code> -> <code>TutorialProject</code></li> 
	</ul> 
	</li> 
		<li>Click the <em>Analysis</em> tab, followed by the <em>Microbiome Workbench</em> tab, followed by the <em>QIIME</em> tab</li> 
		<li>You can optionally fill in a 'Study Name' to organize your individual runs. We will use 'Tutorial_Study' here.</li> 
		<li>You can optionally choose to remove chimeras with Chimera Slayer</li> 
		<li>Click 'Submit'</li> 
		<li>Wait for confirmation email</li> 
	</ul></h4> 
 
		
	<p><img src="images/qiime1.PNG" title="qiime 1" /></p><br>
	<p><img src="images/qiime2.PNG" title="qiime 2" /></p><br>
	<p><img src="images/qiime3.PNG" title="qiime 3" /></p><br>
	 
 
<pre> 
Hello Tutorial Imt
 
Your QIIME job is completed successfully.
 
Job Summary:
  JobID                  : wbJob-qiime-1311000092_340359
  Study Name             : Tutorial_Study
  Job Name               : Qiime-Job-2011-07-18-09:40:47
 
Result File Location in the Genboree Workbench:
  Group : New_Tutorial_Group
  DataBase : TutorialDB
  Path to File:
     Files
     * MicrobiomeWorkBench
        * Tutorial_Study
           *QIIME
              *Qiime-Job-2011-07-18-09:40:47
 
Plots URL (click or paste in browser to access file):
   Prj: TutorialProject
   URL:
http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject
 
The Genboree Team
</pre> 
 
	<h1 id="QIIME-Results">QIIME Results<a href="#QIIME-Results" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeWorkBench</code> -> <code>Tutorial_Study</code> -> <code>QIIME</code> -> <code>Qiime-Job-2011-07-18-09:40:47</code> 
	<ul> 
	<li>mapping.txt
	<ul> 
	<li>QIIME sample meta data mapping file</li> 
	</ul> 
	</li> 
		<li>raw.results.tar.gz
	<ul> 
	<li>Full compressed results from the pipeline</li> 
	</ul> 
	</li> 
		<li>sample.metadata</li> 
		<li>settings.json</li> 
		<li>plots.result.tar.gz
	<ul> 
	<li>2D and 3D plots</li> 
	</ul> 
	</li> 
		<li>fasta.result.tar.gz
	<ul> 
	<li>Representative sequences aligned files</li> 
	</ul> 
	</li> 
		<li>taxonomy.result.tar.gz
	<ul> 
	<li>OTU tables separated by taxonomic depth</li> 
	</ul> 
	</li> 
		<li>otu.table</li> 
		<li>phylogenetic.result.tar.gz
	<ul> 
	<li>Representative sequence files: aligned, datafile, tree file, itol tree file, and tree file parsed</li> 
	</ul> 
	</li> 
		<li>jobFile.json</li> 
	</ul> 
	</li> 
		<li>2D and 3D plots can be viewed at the project page
	<ul> 
	<li><a class="external" href="http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject">http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject</a></li> 
	</ul></li> 
	</ul></h4> 
 
	<p><img src="images/qiimeResults.PNG" title="qiime results 1" /></p><br>
	<p><img src="images/projectPage.PNG" title="project page" /></p><br>
	<p><img src="images/qiimeResults2.PNG" title="qiime results 2" /></p><br>
	<p><img src="images/weighted_unifrac_P1_vs_P2_plot.PNG" title="weighted unifrac" /></p><br>
	<p><img src="images/canberra_3D.PNG" title="3D canberra" /></p><br>
	 
 
	<h1 id="Alpha-Diversity">Alpha Diversity<a href="#Alpha-Diversity" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Drag <strong>Qiime-Job-2011-07-18-09:40:47</strong> into the <em>Input Data</em> window
	<ul> 
	<li>Accessible via <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeWorkBench</code> -> <code>Tutorial_Study</code> -> <code>QIIME</code> -> <code>Qiime-Job-2011-07-18-09:40:47</code></li> 
	</ul> 
	</li> 
		<li>Drag over the <code>TutorialDB</code> into the <em>Output Targets</em> window</li> 
		<li>Drag over the <code>TutorialProject</code> into the <em>Output Targets</em> window</li> 
		<li>Click the <em>Analysis</em> tab, followed by the <em>Microbiome Workbench</em> tab, followed by the <em>Alpha Diversity</em> tab</li> 
		<li>Optionally fill in a 'Study Name', here we'll use 'Tutorial_Study'</li> 
		<li>Select one or many feature lists, which was accessible via the user provided sample meta data</li> 
		<li>Optionally remove singletons
	<ul> 
	<li>Singletons are entries in the OTU tables that only occur once in the entire set of samples.  These elements can falsely raise diversity and have been known to impact alpha diversity curves.</li> 
	</ul> 
	</li> 
		<li>Click 'Submit'</li> 
		<li>Wait for confirmation email</li> 
	</ul></h4> 
 
	<p><img src="images/alphaDiversity1.PNG" title="alpha 1" /></p><br>
	<p><img src="images/alphaDiversity2.PNG" title="alpha 2" /></p><br>
	<p><img src="images/alphaDiversity3.PNG" title="alpha 3" /></p><br>
	 
 
<pre> 
Hello Tutorial Imt
 
Your Alpha Diversity job is complete successfully.
 
Job Summary:
  JobID                  : wbJob-alphadiversity-1311004137_676260
  Study Name             : Tutorial_Study
  Job Name               : AD-Job-2011-07-18-10_48_32
 
Result File Location in the Genboree Workbench:
  Group : New_Tutorial_Group
  DataBase : TutorialDB
  Path to File:
     Files
     * MicrobiomeData
        * Tutorial_Study
           *AlphaDiversity
              *AD-Job-2011-07-18-10:48:32
 
Plots URL (click or paste in browser to access file):
   Prj: TutorialProject
   URL:
http://www.genboree.org/java-bin/project.jsp?projectName=TutorialProject
 
The Genboree Team
</pre> 
 
	<h1 id="Alpha-Diversity-Results">Alpha Diversity Results<a href="#Alpha-Diversity-Results" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeWorkBench</code> -> <code>Tutorial_Study</code> -> <code>AlphaDiversity</code> -> <code>AD-Job-2011-07-18-10:48:32</code> 
	<ul> 
	<li>rankAbundancePlots.result.tar.gz
	<ul> 
	<li>Rank abundance plots for all meta data features selected</li> 
	</ul> 
	</li> 
		<li>renyiProfilePlots.result.tar.gz
	<ul> 
	<li>Renyi profile plots for all meta data features selected</li> 
	</ul> 
	</li> 
		<li>sample.mapping.txt</li> 
		<li>settings.json</li> 
		<li>raw.result.tar.gz
	<ul> 
	<li>Full output data set including R scripts used to generate plots</li> 
	</ul> 
	</li> 
		<li>richnessPlots.result.tar.gz
	<ul> 
	<li>Richness plots for all meta data features selected</li> 
	</ul> 
	</li> 
		<li>jobFile.json</li> 
	</ul></li> 
	</ul></h4> 
 
	<p><img src="images/alphaResults.PNG" title="alpha results 1" /></p>
	<p><img src="images/projectPage.PNG" title="project page" /></p>
	<p><img src="images/alphaResults2.PNG" title="alpha results 2" /></p>
	<p><img src="images/body_site-rarefaction843.PNG" title="richness rarefaction" /></p>
	 
 
	<h1 id="Machine-Learning">Machine Learning<a href="#Machine-Learning" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Drag <code>Qiime-Job-2011-07-18-09:40:47</code> into the <em>Input Data</em> window
	<ul> 
	<li>Accessible via <code>Groups</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeWorkBench</code> -> <code>Tutorial_Study</code> -> <code>QIIME</code> -> <code>Qiime-Job-2011-07-18-09:40:47</code></li> 
	</ul> 
	</li> 
		<li>Drag over the <code>TutorialDB</code> into the <em>Output Targets</em> window</li> 
		<li>Click the <em>Analysis</em> tab, followed by the <em>Microbiome Workbench</em> tab, followed by the <em>Machine Learning</em> tab</li> 
		<li>Optionally fill in a 'Study Name', here we'll use 'Tutorial_Study'</li> 
		<li>Select one or many feature lists, which was accessible via the user provided sample meta data</li> 
		<li>Click 'Submit'</li> 
		<li>Wait for confirmation email</li> 
	</ul></h4> 
 
	<p><img src="images/ml1.PNG" title="machine learning 1" /></p>
	<p><img src="images/ml2.PNG" title="machine learning 2" /></p>
	<p><img src="images/ml3.PNG" title="machine learning 3" /></p>
	 
 
<pre> 
Hello Tutorial Imt
 
Your Machine Learning job is complete successfully.
 
Job Summary:
  JobID                  : wbJob-machinelearning-1311004254_934210
  Study Name             : Tutorial_Study
  Job Name               : ML-Job-2011-07-18-10_50_36
 
Result File Location in the Genboree Workbench:
  Group : New_Tutorial_Group
  DataBase : TutorialDB
  Path to File:
     Files
     * MicrobiomeData
        * Tutorial_Study
           *MachineLearning
              *ML-Job-2011-07-18-10:50:36
 
The Genboree Team
</pre> 
 
	<h1 id="Machine-Learning-Results">Machine Learning Results<a href="#Machine-Learning-Results" class="wiki-anchor">&para;</a></h1> 
 
 
	<h4> 
	<ul> 
	<li>Click the <em>Refresh</em> button in the <em>Data Selector</em> window</li> 
		<li>Expand <code>Groups</code> -> <code>New_Tutorial_Group</code> -> <code>Databases</code> -> <code>TutorialDB</code> -> <code>Files</code> -> <code>MicrobiomeWorkBench</code> -> <code>Tutorial_Study</code> -> <code>MachineLearning</code> -> <code>ML-Job-2011-07-18-10:50:36</code> 
	<ul> 
	<li>jobFile.json</li> 
		<li>sample.mapping.txt</li> 
		<li>settings.json</li> 
		<li>otu_abundance_cutoff_(5/25/100/500).result.tar.gz
	<ul> 
	<li>(5/25/100/500)_bag.txt
	<ul> 
	<li>randomForest classification result</li> 
	</ul> 
	</li> 
		<li>(5/25/100/500)_sortedImportance.txt
	<ul> 
	<li>randomForest imMportance sorted by 'MeanDecreaseGini'</li> 
	</ul> 
	</li> 
	</ul> 
	</li> 
		<li>raw.result.tar.gz
	<ul> 
	<li>Full results from machine learning pipeline</li> 
		<li>Summary reports exist within <code>raw.result</code> -> <code>RF_Boruta</code> -> <code>body_site</code> -> <code>RandomForest</code> -> (5/25/100/500)_sortedImportanceforcombine.gini_trends_3sorted</li> 
	</ul></li> 
	</ul></li> 
	</ul></h4> 
 
	<p><img src="images/mlResults.PNG" title="machine learning results" /></p>
	 
 
<pre> 
 
Call:
 randomForest(formula = body_site ~ ., data = DF, importance = TRUE,      proximity = TRUE) 
               Type of random forest: classification
                     Number of trees: 500
No. of variables tried at each split: 15
 
        OOB estimate of  error rate: 0%
Confusion matrix:
       Stool Throat class.error
Stool      5      0           0
Throat     0      5           0
</pre> 
 
	<p></p> 
</div> 
 
 
 
 

	<div style="clear:both;"></div>
    </div>
</div>

<div id="ajax-indicator" style="display:none;"><span>Loading...</span></div>
	
<div id="footer">
    Powered by <a href="http://www.redmine.org/">Redmine</a> &copy; 2006-2010 Jean-Philippe Lang
</div>
</div>

</body>
</html>

