
<u style="color:purple;font-weight:bold;">Hiya <%= @user.firstname %>!</u>
<p>Here is the <i>custom</i> email you requested for your Redmine account!</p>
<p>And here's some special info:</p>
<ul>
  <li><b>A Timestamp (probably 1 week ago):</b> <%= @time %></li>
  <li><b>A lucky number for you:</b> <%= @someArg %></li>
</ul>
<p>
Regards,
<span style="font-size: 1.6em;text-shadow: 2px 2px 4px #1E7FBF;">ARJ (via Redmine)</span>
