<div id="footer" class="container-fluid footer">
  <div class="row row-pad">
    <div id="footerLeft" class="col-xs-12 col-md-4 text-center">
      <a href="http://genboree.org" target="_blank">
        <%= image_tag "genboreeItalicSmallFont.png", :border => "0", :alt => "Powered by GENBOREE", :plugin => "genboree_csf_evb" %>
      </a>
    </div>
    <div id="footerText" class="col-xs-12 col-md-4 text-center">
      &copy;2001-2016 Bioinformatics Research Laboratory, Baylor College of Medicine
      <br>
      One Baylor Plaza, MS:BCM225 Suite 400D, Houston, TX, 77030
      <br>
      <a class="externalLink" href="mailto:genboree_admin@genboree.org">Questions or comments?</a>
    </div>
  </div>
</div>
