<%
  require 'json'
  @gbBowtieGenomesInfo = JSON.parse(File.read(@genbConf.gbBowtieGenomesInfo)) 
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      {
        :toolHelpOverview =>
        "
        <b>Overview</b>
        <p>Bowtie 2 is an ultrafast and memory-efficient tool for aligning sequencing reads to long reference sequences. It is particularly good at aligning reads of about 50 up to 100s or 1000s of characters to relatively long (e.g. mammalian) genomes.</p>

        <b>Inputs</b> Single or paired-end <a href='http://en.wikipedia.org/wiki/FASTQ_format' target='_blank'>FASTQ</a> files. The input files can be compressed.
        <br>
        <u>NOTE</u>: To upload input files to your database, use <code>Data</code> &raquo; <code>Files</code> &raquo <code>Transfer File</code> from the toolset menu.

        <br><br> 
        <b>Bowtie 2 Index of reference sequences</b> 
        <br>
        <u>NOTE</u>: If there are no Bowtie 2 indexes in your database or in the repository database, you should create a new Bowtie 2 index.
        <br>Select from two options:
          <ul>
            <li><b>Use existing index</b> Select existing index from a list of Bowtie 2 indexes available in the user database or repository database (if available for chosen genome). By default, whole genome index is used if it is available.</li>
            <li><b>Build a new index</b> Build a new Bowtie 2 index for a set of entrypoints/chromosomes or user uploaded reference sequences. The IndexBowtie tool is used to build new index.
            <br>
            <u>NOTE</u>: To upload reference sequences as new entrypoints, use <code>Data</code> &raquo; <code>Entrypoints</code> &raquo <code>Upload Entrypoints</code> tool from the toolset menu.
            </li>
          </ul>

        <b>Outputs</b>
        <br>
        <u>NOTE</u>: To download any file from your database to your computer, click the file name in the <code>Data Selector</code> tree, then click on <code>Click to Download File</code> link from the <code>Details</code> panel.
        <ul>
          <li>Alignments in <a href='http://samtools.sourceforge.net/SAMv1.pdf' target='_blank'>SAM and BAM</a> formats</li>
          <li>BAM index .bai file</li>
          <li>Alignment metrics file</li>
          <li>Unaligned reads FASTQ file, if available </li>
          <li>Coverage Track (for visualization in genome browsers)
            <ul>
              <li>Track names in Genboree are <a href='http://genboree.org/java-bin/showHelp.jsp?topic=lffFileFormat' target='_blank'>LFF</a>-style names, that look like <code>TRACK:NAME</code>, where TRACK and NAME are sensible names relevant to the input specified by the user in the tool settings. An example track name could be <code>Sample1Reads:Density</code>.</li>
              <li>These tracks can be used for visualization in UCSC Genome browser by dragging this database to <code>Input Data</code> and choosing <code>Visualization</code> &raquo; <code>Launch UCSC Genome Browser</code> from the menu. </li> 
              <li>Ensure that this database is 'unlocked'. To unlock a database, drag the database to <code>Input Data</code> and select <code>Data</code> &raquo; <code>Databases</code> &raquo; <code>Unlock/Lock Database</code>.</li>
            </ul>
          </li>
          <li>Custom Bowtie 2 Index File, if available</li>
        </ul>
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the 2 FASTQ files into &quot;Input Data&quot;.',
          "Optionally drag a folder or a file entity list with 2 FASTQ files into &quot;Input Data&quot;. "
        ],
        :types              => [ [ 'File', 'min: 1 ; max: 2' ], [ 'Files Dir', 'min: 1 ; max: 1' ], [ 'Files Entity', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up under the <u>Bowtie</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', "The top-level output folder (under 'Bowtie') used to organize Bowtie results."],
          [ 'Bowtie Index Options', "Do you want to build a new index using reference sequences or use an existing index? [Default: Uses whole genome index if available]. "],
          [ 'Use existing index', "Select existing index from a list of Bowtie 2 indexes available in the user database or repository database (if available for chosen genome)"],
          [ 'Build a new index', "Build a new Bowtie 2 index for a set of entrypoints/chromosomes or user uploaded reference sequences. The IndexBowtie tool is used to build new index."],
          [ 'Bowtie 2 Index Name', "Provide a name for your custom Bowtie 2 index. This name should be less than 30 characters in length. [Default: GenomeVersion]. " ],
          [ 'Select Entrypoints/Chromosomes', "Select list of entrypoints/chromosomes for building Bowtie 2 index. You will see a warning message if no entrypoint is selected. To build Bowtie 2 index for custom reference sequences, you can upload your reference sequence as a new entrypoint to your database using <code>Data</code> &raquo; <code>Entrypoints</code> &raquo; <code>Upload Entrypoints</code> from the menu." ],
          [ 'Upload Results ?', 'Sequencing Coverage is calculated from the mapped reads. Check this to upload coverage results as a Genboree track in the output database for subsequent processing, or viewing in Genboree or UCSC Genome Browser.'],
          [ 'Class Name', 'If uploading the coverage results as a track, provide a Class name, under which tracks will be uploaded in your database. [Default: User Data]'],
          [ 'Track Name', 'Provide an LFF-style track name, to upload the coverage results as a track. Preferably not an existing track in the output database.'],
          [ 'Delete Pre-existing Tracks', "Check this to delete existing tracks in the target database and replace them with newly created ones if the names match. Non matching tracks will not be changed in any way. This will avoid duplication of imported data. By default, data gets appended to the existing track. [Default: Unchecked]."],
          [ 'Alignment Type', 'Select the type of alignment, End-to-end or Local.<br> "End-to-end" mode searches for alignments involving all of the read characters. This is also called an "untrimmed" or "unclipped" alignment. In "local" alignment mode, Bowtie 2 might "trim" or "clip" some read characters from one or both ends of the alignment if doing so maximizes the alignment score.  [Default: end-to-end].'],
          [ 'Preset option', 'Preset options in End-to-end or local alignment modes: <br> 1. very fast,<br> 2. fast, <br> 3. sensitive, <br> 4. very sensitive  <br>[Default: sensitive].'],
          [ 'Disallow gaps within N reads', 'Disallow gaps within N positions of the beginning or end of the read. [Default: 4]' ],
          [ 'Strand Direction', 'If Disable Forward is selected, bowtie2 will not attempt to align unpaired reads to the forward (Watson) reference strand. <br> If Disable Reverse is specified, bowtie2 will not attempt to align unpaired reads against the reverse-complement (Crick) reference strand. <br>In paired-end mode, Disable Forward and Disable Reverse pertain to the fragments; i.e. specifying Disable Forward causes bowtie2 to explore only those paired-end configurations corresponding to fragments from the reverse-complement (Crick) strand. [Default: both strands enabled].'],
          [ 'Skip N Reads', 'Skip (i.e. do not align) the first <int> reads or pairs in the input.'],
          [ 'Align first N Reads', 'Align the first N reads or read pairs from the input (if Skip N reads option is selected, after skipping N reads or pairs), then stop. [Default: no limit].'],
          [ 'Trim N Bases at 5\' end', 'Trim N bases from 5\' (left) end of each read before alignment. [Default: 0].'],
          [ 'Trim N Bases at 3\' end', 'Trim N bases from 3\' (right) end of each read before alignment. [Default: 0].'],
          [ 'Report up to N alignments per read', 'Report up to N alignments per read. Default: Looks for multiple alignments, reports best'],    
          [ 'Unaligned Reads File?', 'Check this to write all reads that failed to align by Bowtie 2 to a file. Written reads will appear as they did in the input, without any of the trimming or translation of quality values that may have taken place within Bowtie. '],
          [ 'Suppress SAM records for unaligned reads', 'Check this to suppress SAM records for reads that failed to align.' ],
          [ 'Submit', "After reviewing the inputs, the output destination database, and your settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [
                                    'Langmead B, Salzberg SL. <i>Fast gapped-read alignment with Bowtie 2.
                                    </i> Nature Methods. <b>2012</b> Mar 4;<b> 9 </b>: 357-359.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/22388286" target="_blank">PubMed</a>]</span>'
                                  ],
                                  ['Bowtie 2 was developed by Ben Langmead at the <a href="http://cs.jhu.edu/~langmea/index.shtml" target="_blank">Department of Computer Science</a> at Johns Hopkins University.'],
                                  [ 'Integrated into the Genboree Workbench by Sai Lakshmi Subramanian at <a href="http://brl.bcm.tmc.edu" target="_blank">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
<%# Tool-specific Addendum %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpAddendum,
      {
        :html =>
        "
          <a name='addendum' id='addendumAnchor'>
            <div style='display:block; margin: 15px; auto; 8px; auto; text-align:center; color:#0052DC; font-size:12pt; font-weight:bold;'>  
              Addendum
            </div>
          </a>
          <b>Example data for Bowtie 2</b>
          This test set maps the sample paired-end FASTQ files to human genome build hg19 using Bowtie 2.
          The sample input FASTQ and output alignment files can be found here:
          <img src='/images/workbench/bowtieTestSet.png' style='float:right; width:470px; height:425px; margin: 0px 3px 0px 3px;'>
          <br>&nbsp;<br>
          <ul>
            <li>Under the group <code>Examples and Test Data</code>, select the database <code>Bowtie - Example Data</code></li>
            <li>Input FASTQ files can be found under: <code>Files</code> &raquo; <code>BT474.subset.1.fastq.gz</code> and <code>BT474.subset.2.fastq.gz</code></li>
            <li>Alignment outputs can be found under <code>Files</code> &raquo; <code>Bowtie</code> folder of this database</li>
            <li>Custom Bowtie 2 indexes can be found under <code>Files</code> &raquo; <code>indexFiles</code> &raquo; <code>bowtie</code> &raquo; <code>[Your custom index folder]</code></li>
          </ul>
        "
      })
%>

</div>
