<%# RENDER HTML %>
<%
  require 'brl/genboree/rest/apiCaller'
  require 'brl/genboree/rest/helpers/trackApiUriHelper'
  require 'brl/genboree/rest/helpers/databaseApiUriHelper'
  require 'brl/genboree/genboreeUtil'
  trackApiHelper = BRL::Genboree::REST::Helpers::TrackApiUriHelper.new(@dbu, @genbConf)
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
  formTag = "<div style=\"height: #{height}px; width: #{width}px; \" class=\"wbDialog wbHelp\" >"
%>
<%= formTag %>
<%# Tool Title %>
<%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%# Error Message if it exists %>
<%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
<%
  if(@hasAccess)
%>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
          "This tool will map <a href='http://maq.sourceforge.net/fastq.shtml'>FASTQ sequence</a> file using <a href='http://brl.bcm.tmc.edu/pash/pashDownload.rhtml'>Pash-3.0</a>. It will create an LFF file, an excel spread sheet, and a
          text file in the output database you specify.
          <br>&nbsp;<br>
          If you have not done so, you may wish to pre-process first your FASTQ file using the <code>Filter Reads</code> Small RNA Analysis tool in order to get more reliable results based on decent reads.
          <br>&nbsp;<br>
          Please note that:
          <ul>
            <li>The <code>seqname</code> in the input FASTQ record must have a suffix like <code>__X</code>, where <code>X</code> is the number of occurrences of that read sequence. (This format is generated by the <i>Filter Reads</i> workbench tool.)</li>
            <li>The FASTQ file can be <i>plain text</i>, <i>gzipped</i>, or <i>bzipped</i>.</li>
            <li>The Pash parameters provided are best for most cases, but are available as Advanced Settings.</li>
            <li>The database version of the input file(s) MUST match the version of the output database. Only <i>mm9</i>, <i>hg18</i>, <i>hg19<i>, <i>dm5.1</i>, <i>calJac3</i> and <i>taeGut1</i> are allowed presently.</li>
            <li>You can optionally drag tracks of interest into &quot;Input Data&quot if you want to run the tool on tracks other than the preselected list.</li>
          </ul>
          <br>
          The output will include:
          <ul>
          <li>An LFF file with all tracks mapped to target genome. This file can be used by other Workbench tools (e.g. the Combined Coverage Profiler tool) in subsequent processing</li>
          <li>An Excel sheet having a summary report with 7 sheets:
            <ol style='margin-left:20px;'>
              <li><code>Summary</code> - Contains coverage of each track in sample &amp; total number of usable reads</li>
              <li><code>Read lengths</code> - Contains total number of reads of each length</li>
              <li><code>miRNAs</code> - Contains mapped miRNA name and their coverage </li>
              <li><code>snoRNAs</code> - Contains mapped snoRNA name and their coverage </li>
              <li><code>piRNAs</code> - Contains mapped piRNA name and their coverage </li>
              <li><code>CpGIslands</code> - Contains mapped CpGIsland name and their coverage </li>
              <li><code>scaRNAs</code> - Contains mapped scaRNA name and their coverage </li>
            </ol>
          </li>
          <li>A text file (<code>stats.txt</code>) having usable number of reads. This file can be used by other Workbench tool in subsequent processing.</li>
          <li>A wig file having all the mapped information. This file will be uploaded in Genboree and will not be available in the destination database.</li>
          </ul>
          <br>
          If you haven't yet transferred your FASTQ file(s) to Genboree, follow these steps:
          <ul>
            <li>First transfer the file to Genboree via <code>Data -&gt; Upload File</code></li>
            <li>Following the transfer, drag the transferred file into the &quot;Input Data&quot; area</li>
            <li>Your file must be in the supported format: <a href='http://maq.sourceforge.net/fastq.shtml'>FASTQ</a></li>
          </ul>
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the <u>file</u> with the reads data into &quot;Input Data&quot;. Optionally, you can also drag custom ROI Tracks.',
        ],
        :types              => [ [ 'File', 'min: 1 ; max: 1' ], [ 'Tracks', 'min: none ; max: any' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [ 'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up in that database under the <code>Files</code> area.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ], # Can also give db/{db}/Files as the output destination
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', 'Give this analysis job a unique name. This name will be used to store result files within the Output Database.' ],
          [ 'Track Name', 'Track name to be used for the resultant wig file. This file will be uploaded in Genboree' ],
          [ 'Sample Name', 'The resultant LFF file will include this in the track name so that the track can be identified; Name of the input file is used as default.' ],
          [ 'Upload Resultant LFF File to Genboree?', 'Check this to upload the resustant LFF file in Genboree. Uncheck if you do not wish to upload.' ],
          [ 'ROI Tracks', 'List of tracks on which you want to run the tool. The Select All/Clear All button allows you to select all/none of the ROI Tracks. ' ],
          [ 'Advanced Settings',  'The following options are in the Advanced Settings section:' ],
          [ 'K Weight',  'Number of sampled positions in the sampling pattern; Default is 11.' ],
          [ 'kSpan',  'Total length of sampling pattern, including unsampled positions; Default is 11.' ],
          [ 'Diagonals',  'Number of diagonals; Default is 100.' ],
          [ 'Gap',        'Vertical word offset gap; Default is 2.' ],
          [ 'Top Percent',    'Top percent from the best alignment score to be reported for each read; use numbers in the interval 0-100; Default 1. ' ],
          [ 'Max Mappings',  'Maximum number of mappings per read; Default is 100'],
          [ 'Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [ 'This tool makes use of <a href="http://http://brl.bcm.tmc.edu/pash/pashDownload.rhtml">Pash</a> for the mapping and analysis:',
                                    'Coarfa C, Yu F, Miller CA, Chen Z, Harris RA, Milosavljevic A. <i>Pash 3.0: A versatile software package for read mapping and integrative
                                    analysis of genomic and epigenomic variation using massively parallel DNA sequencing.</i> BMC Bioinformatics. <b>2010</b> Nov 23;<b>11(1)</b>:572.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/21092284">PubMed</a>]</span>'
                                  ],
                                  [ 'The mapping and analysis steps performed are described in the following article:',
                                    'Ma L, Buchold GM, Greenbaum MP, Roy A, Burns KH, Zhu H, Han DY, Harris RA, Coarfa C, Gunaratne PH, Yan W, Matzuk MM. <i>GASZ is essential for
                                    male meiosis and suppression of retrotransposon expression in the male germline.</i> PLoS Genet. <b>2009</b> Sep;<b>5(9)</b>:e1000635 Epub 2009 Sep 4. Erratum in: PLoS Genet. 2009 Dec;5(12).
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/19730684">PubMed</a>]</span>'
                                  ],
                                  [ 'Tool developed internally by Arpit Tandon and Christian Coarfa; integrated into the Workbench by Sameer Paithankar and Andrew Jackson at <a href="http://brl.bcm.tmc.edu">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype under evaluation for manuscript preparation.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
