<%# RENDER HTML %>
<%
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
  formTag = "<div style=\"height: #{height}px; width: #{width}px; \" class=\"wbDialog wbHelp\" >"
%>
<%= formTag %>
<%# Tool Title %>
<%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%# Error Message if it exists %>
<%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
<%
  if(@hasAccess)
%>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
          "This tool extracts usable reads from sequence data <a href='http://maq.sourceforge.net/fastq.shtml'>(FASTQ)</a> and finds exact and loose matches to known miRNA precursors.
          The tool generates as output:
          <br>&nbsp;<br>
          <ul>
            <li>A zipped FASTA file, which can be used as input for the 'Novel miRNA Detection' tool.</li>
            <li>3 HTML files, containing detailed information about exact matches of expressed and non-expressed miRNAs, detailed information about exact matches and loose matches to miR  summary report.</li>
            <li>A table file containing exact number of matches and total number of matches</li>
          </ul>
          <br>&nbsp;<br>
          Review that the correct FASTQ file is going to be processed.
          <br>&nbsp;<br>
          <center><span class='footnote'>[ The tool uses the approach described in <a href='http://www.ncbi.nlm.nih.gov/pubmed/19332473'>this article</a>. ]</span></center>
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag the <u>FASTQ file</u> with the sequence data into &quot;Input Data&quot;. ',
        ],
        :types              => [ [ 'File', 'min: 1 ; max: 1' ]],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [ 'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up in that database under the <code>Files</code> area.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', 'Give this job a unique analysis name. This name will be used to store result files within the Output Database.' ],
          [ 'Genome Version (Available: hg18, hg19 and mm9)', 'The genome version that the data belongs to. (Selected automatically based on the genome version of the output database)' ],
          [ 'Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [ 'The tool uses the approach described in:',
                                    'Creighton CJ, Reid JG, Gunaratne PH. <i>Expression profiling of microRNAs by deep sequencing.</i> Brief Bioinform. <b>2009</b> Sep;<b>10(5)</b>:490-7 Epub 2009 Mar 30.
                                    <span style="font-size: 78%;">[<a href="http://www.ncbi.nlm.nih.gov/pubmed/19332473">PubMed</a>]</span>'
                                  ],
                                  [ 'Tool developed internally by Arpit Tandon and Christian Coarfa; integrated into the Workbench by Sameer Paithankar and Andrew Jackson at <a href="http://brl.bcm.tmc.edu">BRL</a>.', nil ]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype under evaluation for manuscript preparation.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
</div>
