<%
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
%>
<div style="height: <%=height%>px; width: <%=width%>px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
<%
  if(@hasAccess)
%>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <p>ChromHMM is a software for learning and characterizing chromatin states. ChromHMM LearnModel takes a directory of binarized data files and learns a chromatin state model from it. It outputs both the learned chromatin-state model parameters and the chromatin-state assignments for each genomic position. </p> 

          <p>To set up the ChromHMM - LearnModel:</p>


          Populate <strong>Input Data</strong>
          <ul>
            <li>Drag the input File(s) into <strong>Input Data</strong></li>
            <li>Input Files are binarized data files. Follow the addendum below to know more about the format of the binarized input data.</li>
          </ul>

          Populate <strong>Output Targets</strong>
          <ul>
          <li>Drag a database into <strong>Output Targets</strong></li>
          <li>Drag a destination project page into <strong>Output Targets</strong></li>
          </ul>


          Configure &#38; Submit the LearnModel Job
          <ul>
          <li>Select: <code>Epigenome</code>  &raquo; <code>ChromHMM</code> &raquo; <code>LearnModel</code></li>
            <li>Use default or select new LearnModel settings.</li>
            <li>Click <code>Submit</code></li>
          </ul>

          LearnModel will output files in:
          <ul>
          <li>The output database &raquo; <code>Files</code> &raquo <code>ChromHMM - LearnModel - Results</code> &raquo <code>Analysis Name</code>. Ouput files include: 
            <ul>
            <li>Model parameters (emission and transition) in text format.</li>
            <li>Custom genome browser tracks in bed format</li>
            <li>Model file in text format</li>
            </ul></li>
         <li>The output project page contains links to all the output files of the analysis</li> 
         </ul> 

        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          'Drag atleast one <u>file</u> or atmost one <u>folder</u> or one <u>file entity</u> list into &quot;Input Data&quot;.'
        ],
        :types              => [ [ 'File', 'min: 1 ; max: any' ], [ 'Files Dir', 'min: 1 ; max: 1' ], [ 'Files Entity', 'min: 1 ; max: 1' ] ],
        :beEmpty            => false
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag one destination <u>database</u> and one <u>project</u> into &quot;Output Targets&quot;. The results data will end up under the <u>ChromHMM-LearnModel-Results </u> folder in the <u>Files</u> area of your output database. Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder to hold the files generated by that run of the tool.', 'Drag 1 destination <u>project</u> into &quot;Output Target&quot;.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1'],[ 'Project', 'min: 1; max: 1'] ],
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [

          ['Analysis Name', "The output folder (under 'ChromHMM-LearnModel-Results') used to organize results."],
          ['Number of States', 'This parameter specifies the number of states to include in the model.'],
          ['Genome Version', 'This is automatically chosen based on the genome version of the inputs/outputs.'],
          ['Number of States', 'This parameter specifies the number of states to include in the model'],
          ['Parameter Initialization Method', 'Three options: <b>information</b>, <b>load</b> and <b>random</b>. Load uses the parameters specified in a model file (to be provided). Random initializes the parameters from a uniform distribution. [Default: information] <br> <b>Note</b>: This will affect the available advanced Settings and the appropriate default settings.'],
          ['Bin or Window Size', 'The number of base pairs in a bin determining the resolution of the model learning and segmentation.'],
          ['Converge Delta', 'The threshold on estimated log likelihood that if it falls below this value, then parameter training will terminate. Value less than 0 then is not used as part of the stopping criteria.'],
          ['Order of States', 'States are ordered based on emission or transition parameters.'],
          ['Maximum Number of Iterations', 'Maximum number of iterations over all the inpput data in the training.'],
          ['Information Smoothing Constant', 'A smoothing constant away from 0 for all parameters in the information based initialization. This option is ignored if random or load are selected for the initialization method.'],
          ['Load Smoothing Emission', 'This parameter is specific for the load option only. This parameter controls the smoothing away from 0 when loading a model.'],
          ['Load Smoothing Transition', 'This parameter is specific for the load option only. This parameter controls the smoothing away from 0 when loading a model.'],
          [ 'Submit', "Once you've reviewed the input tracks, the output destination database, and your comparison settings, click &quot;Submit&quot;."]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                  [
                                    'Ernst J, Kellis M. <i>ChromHMM: automating chromatin-state discovery and characterization.</i> Nature Methods, 2012; 9:215-216.
                                    <span style="font-size: 78%;">[<a href="http://www.nature.com/nmeth/journal/v9/n3/full/nmeth.1906.html" target="_blank">Nature Methods</a>, <a href="http://www.ncbi.nlm.nih.gov/pubmed/22373907" target="_blank">Pubmed</a>]</span>'],
                                  [ 'Integrated into the Genboree Workbench by Neethu Shah  and Tim Charnecki at <a href="http://brl.bcm.tmc.edu" target="_blank">BRL</a>.', nil]
                                ]
      })
  %>
<%
  else # User does not have access
%>
<%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>This tool is currently in review. Thus, the tool is currently only available to the authors, testers, and reviewers.</div>
          <span style='color: red;'>Prototype will be made available for evaluation when ready.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end
%>
<%# Tool-specific Addendum %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpAddendum,
      {
        :html =>
        "
          <a name='addendum' id='addendumAnchor'>
            <div style='display:block; margin: 15px; auto; 8px; auto; text-align:center; color:#0052DC; font-size:12pt; font-weight:bold;'>  
              Addendum
            </div>
          </a>
          <b>Binarized data file format followed by ChromHMM LearnModel</b>
          <ol>
            <li>Each binarized data file name should contain the string \"_binary\" in it. These files can also be compressed.</li>
            <li>The first line contains the name of the cell separated by a tab with the name of the chromosome.</li>
            <li>The second line contains in tab delimited form the name of each mark.</li>  
            <li>The remaining lines correspond to consecutive bins on the chromosome. These lines in tab delimited form corresponds to each mark, with a ‘1’ for a present call or ‘0’ for an absent call and a ‘2’ if the data is considered missing at that interval for the mark.</li>
          </ol>
          <b>A binarized data file starts with:</b><br>
<pre>
Cell	chr1
Mark1	Mark2	Mark3
0	0	0
0	1	0
0	1	1
</pre>
        "
      })
%>
</div>
