<%# RENDER HTML %>
<div style="height: 520px; width: 580px; " class="wbDialog wbHelp" >
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpTitle) %>
  <%# Error Message if it exists %>
  <%= renderFrag(@toolIdStr, :wbErrorMsg, { :context => @context } ) if(@context['wbErrorMsg']) %>
  <%# Overview text %>
  <%= renderStaticFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
        "
      })
  %>
  <%# Input data help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolInputInstructions,
      {
        :instructions       =>
        [
          "Drag either your already-uploaded SNP track OR a Files folder corresponding to a run of the Atlas-SNP2 or Atlas-Indel2 tools into &quot;Input Data&quot;. You may also drag additional tracks to the <i>bottom</i> of the inputs in order to supply custom regions-of-interests used to filter the SNPs."
        ],
        :types              => [ [ 'Files Dir', 'min: 1 ; max: 1' ], [ 'Tracks', 'min: 0 ; max: any' ] ],
        :beEmpty            => true
      })
  %>
  <%# Output resource summary %>
  <%= renderStaticFrag(@toolIdStr, :wbToolOutputInstructions,
      {
        :instructions       => [  'Drag 1 destination <u>database</u> into &quot;Output Targets&quot;. The results data will end up under the <u>SNP Processing Tools</u> folder in the <u>Files</u> area of your output database.',
                                  'Within that folder, your <span class="wbHelpMono">Analysis Name</span> will be used as a sub-folder under the sub-folder <u>Filter: Exclude SNPs</u> to store result files.' ],
        :types              => [ [ 'Database', 'min: 1 ; max: 1' ] ], # Can also give db/{db}/Files as the output destination
        :beEmpty            => false
      })
  %>
  <%# Tool-specific settings help %>
  <%= renderStaticFrag(@toolIdStr, :wbToolSettingsInstructions,
      {
        :instructions     =>
        [
          [ 'Analysis Name', "The top-level output folder used to organize related Cancer Analysis results." ],
          [ 'Overlap Known SNP Sources', "Select which known SNP sources you wish the filter to consider. SNPs which overlap a SNP from at least 1 known source will be removed." ],
          [ 'Genomic Features', "Select which genomic features you wish the filter to consider. SNPs which fall within a region from at least 1 of these features will be removed." ],
          [ 'Submit', "Once you've reviewed the input folder and tracks, the output destination database, and your settings, click &quot;Submit&quot;." ]
        ]
      })
  %>
  <%# Tool-specific References & attribution %>
  <%= renderStaticFrag(@toolIdStr, :wbToolRefs,
      {
        :references         =>  [
                                ]
      })
  %>

</div>
