<%# RENDER HTML %>
<%
  width = (@hasAccess ? 500 : 320)
  height = (@hasAccess ? 425 : 320)
  formTag = "<form id=\"wbDialogForm\" name=\"wbDialogForm\" action=\"wbDefault\" style=\"width: #{width}px; height: #{height}px;\" onsubmit=\"return submitToolJob(this);\" method=\"POST\" class=\"wbDialog wbForm\" >"
%>
  <%= formTag %>
  <%# Tool Title %>
  <%= renderStaticFrag(@toolIdStr, :wbToolTitle) %>
  <%# Overview text %>
<%
  if(@hasAccess)
%>
  <%= renderStaticFrag(@toolIdStr, :wbToolOverview,
      { :toolOverview =>
        "
        LIMMA Signal Comparison calculates signal intensity of next-gen sequencing tracks
        and outputs the differences in signal intensity between samples of interest.
        This allows one to determine differences between samples (i.e. muscle vs treated muscle).
        Differences may include differential methylation (if MeDIP input),
        or gene expression level (if RNA-Seq input).
        <br>&nbsp;<br>
        LIMMA requires the following user-supplied input:
        <ul>
          <li>Two or more sets of entity lists containing epigenomic signals.</li>
          <li>A &quot;regions-of-interest&quot; (ROI) onto which the epigenomic signals will be superimposed.</li>
        </ul>
        &nbsp;<br>
        LIMMA outputs the following:
        <ul>
          <li>Raw results file (deposited in &quot;Files&quot; of the output database).</li>
          <!-- <li>A list of genes associated with the ROI and GO enrichment, containing:
          <ul>
            <li>Functional annotation chart</li>
            <li>Functional annotation table</li>
            <li>Functional annotation clustering</li>
            <li>Gene clustering</li>
          </ul>
          </li>
          <li>A link to the ranked genes associated with the ROIs.</li> -->
        </ul>
        &nbsp;<br>
        User options:
        <ul>
          <li>You may choose to upload the discriminating ROIs as a track in Genboree</li>
        </ul>
        "
      })
  %>
  <%# Input resource summary %>
   <%= renderFrag(@toolIdStr, :wbDialogSection,
      {
       :sectionTitle => "Input Files Directory:",

       :sectionHtml => renderFrag(@toolIdStr, :wbDatabaseListSummary, { :databaseList => @inputs[0] } )+
       renderFrag(@toolIdStr, :wbTrackListSummary, { :trackList => @inputs[1 .. -1], :label => "Targets" } )
      })
  %>
  <%# Output resource summary %>
  <%= renderFrag(@toolIdStr, :wbDialogSection,
        {
          :sectionTitle => "Output Database:",
          :sectionHtml =>
            renderFrag(@toolIdStr, :wbProjectOrDatabaseListSummary, { :projectOrDatabaseList => @outputs, :label => "Database Of Interest" } )
        })
  %>
  <%# Tool-specific UI widgets user provides/reviews %>
  <%=

    renderFrag(@toolIdStr, :wbToolSettingsUI,
    {
      :sectionTitle => "Epigenomes Comparison using LIMMA",
      :widgets => [
                    { :id => 'analysisName', :label => 'Analysis Name', :type => :text , :size => "25", :value => "LIMMA_Signal_Comparison#{Time.now.strftime('%Y-%m-%d-%H:%M:%S')}" },
                    { :id => 'minPval', :label => 'Min. P Value', :type => :text , :size => "25", :value => "0.05" },
                    { :id => 'minAdjPval', :label => 'Min. Adjusted P Value', :type => :text , :size => "25", :value => "0.05" },
                    { :id => 'minFoldChange', :label => 'Min. Fold Change', :type => :text , :size => "25", :value => "10.0" },
                    { :id => 'multiplier', :label => 'Multiplier', :type => :text , :size => "25", :value => "100" },
                    { :id => 'testMethod', :label => "Test Method", :type => :select, :style => "width: 100px", :options =>
                      {
                        :separate         =>  { :label => 'Separate', :selected => true },
                        :global           =>  { :label => 'Global'},
                        :hierarchical     =>  { :label => 'Hierarchical'},
                        :nestedF          =>  { :label => 'Nested F'}
                      }
                    },
                    { :id => 'adjustMethod', :label => "Adjust Method", :type => :select, :style => "width: 100px", :options =>
                      {
                        :BH           =>  { :label => 'BH' },
                        :fdr          =>  { :label => 'fdr' , :selected => true},
                        :BY           =>  { :label => 'BY'},
                        :holm         =>  { :label => 'holm'},
                        :hochberg     =>  { :label => 'hochberg'},
                        :hommel       =>  { :label => 'hommel'},
                        :bonferroni   =>  { :label => 'bonferroni'},
                        :none         =>  { :label => 'None'}
                      }
                    },
                    { :id => 'spanAggFunction', :label => "Span Agg Function", :type => :select, :style => "width: 100px", :options =>
                  {
                    :avg          =>  { :label => 'Average', :selected => true },
                    :avgByLength  =>  { :label => 'Average By Length'},
                    :med          =>  { :label => 'Median'},
                    :sum          =>  { :label => 'Sum'},
                    :count        =>  { :label => 'Count'},
                    :max          =>  { :label => 'Max'},
                    :min          =>  { :label => 'Min'},
                    :stdev        =>  { :label => 'Standard Deviation'}
                  },
                  :title => "Select the aggregate function to perform the anlaysis with."
                },
                     { :id => 'normalize', :label => "Normalize", :type => :select, :options =>
                      {
                        :Quantile      =>  { :label => 'Quantile Normalization', :selected => true },
                        :Percentage    =>  { :label => 'Percentage Normalization'},
                        :None          =>  { :label => 'None'}

                      }
                    },
                    { :id => "trkAdvSec", :type => :advancedSection, :toggleText => "Track Upload", :startWithExpanded => false,
                      :widgets =>
                      [
                        { :id => 'uploadTrack', :label => 'Upload Results as track?', :labelWidth => "200px", :type => :checkbox, :title => 'Check to upload results to Genboree', :checked => false, :onChange => "toggleDisplay('trkSectionLabel');" },
                        { :id => 'trkSection', :type => :indentedSection, :indentWidth => '20px', :spanFullRow => true, :border => '', :label => '', :hidden=>true,
                          :widgets =>
                          [
                            { :id => 'trackName', :label => 'Track Name', :labelWidth => "140px", :labelStyle => "font-weight:normal; font-size: 0.82em;", :type => :gbTrackName, :defaultType => 'Limma', :defaultSubtype => 'results', :title => 'For uploading resulting track, provide an LFF-style track name.' },
                            { :id => 'trackClass', :label => 'Track Class', :labelWidth => "140px", :labelStyle => "font-weight:normal; font-size: 0.82em;", :type => :text, :size => "10", :value => "" }
                          ]
                        }
                      ]
                    },
                    { :id => "naAdvSec", :type => :advancedSection, :toggleText => "No Data Regions", :startWithExpanded => false,
                      :widgets =>
                      [
                        { :id => 'replaceNAValue', :label => 'No Data Value', :type => :text , :size => "6", :value => "0" },
                        { :id => 'removeNoDataRegions', :label => 'Remove No Data Regions?', :labelWidth => "200px", :type => :checkBox, :checked => true, :onchange=>"toggleVisibility('naSection');"},
                        { :id => 'naSection', :type => :indentedSection, :indentWidth => '20px', :spanFullRow => true, :border => '', :label => '',
                          :widgets =>
                          [
                            { :name=>"naGroup", :id => 'anyTrack', :value=>"0", :label => 'If ANY track has no data for that region', :labelWidth => "300px", :labelStyle => "font-weight:normal; font-size: 0.82em;", :type => :radio, :checked => true, :onchange => "clearAndDisable('naPercentage');" },
                            { :name=>"naGroup", :id => 'allTracks',:value=>"100", :label => 'If ALL tracks have no data for that region', :labelWidth => "300px", :labelStyle => "font-weight:normal; font-size: 0.82em;", :type => :radio, :onchange => "clearAndDisable('naPercentage');" },
                            { :name=>"naGroup", :id => 'custTracks',:value=>"custom", :label => 'If % of tracks with no data for that region &ge;', :labelWidth => "300px", :labelStyle => "font-weight:normal; font-size: 0.82em;", :type => :radio, :onchange => "toggleDisabled('naPercentage');"},
                            { :id => 'percentageSection', :type => :indentedSection, :indentWidth => '40px', :spanFullRow => true, :border => '', :label => '',
                              :widgets =>
                              [
                                { :id => 'naPercentage', :label => '(%)', :labelWidth => "15px", :labelStyle => 'color: #A4A4A4; font-weight:normal; font-size: 0.82em; text-align: right;', :type => :text , :size => "5", :value => "", :disabled => true }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ]
    })
  %>
  <%= renderStaticFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :submit }, { :type => :cancel} ]
      })
  %>
</form>
<%= WorkbenchFormHelper.renderInlineScriptFrag(["#{@genbConf.cacheDirBasePath}/javaScripts/progressUpload.js", "#{@genbConf.toolViewRoot}/uploadDbFile/uis/UploadDbFile.js"]) if(@inputs.size == 0) %>
<script type="text/javascript">

function toggleDisabled(elementId)
{
  var element = Ext.get(elementId) ;
  var elementLabel = Ext.get(elementId + "LabelTh") ;
  if(element)
  {
    if(element.getAttribute("disabled"))
    {
      elementLabel.setStyle("color", "black") ;
      element.dom.enable() ;
    }
    else
    {
      elementLabel.setStyle("color", "#A4A4A4") ;
      element.dom.disable() ;
    }
  }
}

function toggleVisibility(elementId)
{
  var element = document.getElementById(elementId) ;
  if(element)
  {
    if(element.attributes.getNamedItem("hidden"))
    {
      element.hidden = false ;
    }
    else
    {
      element.hidden = true ;
    }
  }
}

function clearAndDisable(elementId)
{
  var element = Ext.get(elementId) ;
  var elementLabel = Ext.get(elementId + "LabelTh") ;
  if(element)
  {
    elementLabel.setStyle("color", "#A4A4A4") ;
    element.dom.value = "" ;
    element.dom.disable() ;
  }
}

function toggleDisplay(elementId)
{
  var element = document.getElementById(elementId) ;
  if(element)
  {
    if(element.style.getPropertyValue("display") == "none")
    {
      element.style.setProperty("display","") ;
    }
    else
    {
      element.style.setProperty("display","none") ;
    }
  }
}

</script>
<%
  else # user doesn't have access
%>
   <%= renderFrag(@toolIdStr, :wbToolHelpOverview,
      { :toolHelpOverview =>
        "
          This tool, which will leverage the <a href='http://bioinf.wehi.edu.au/limma/'>LIMMA</a> R package, is currently
          under development and only available internally and to some collaborators for testing.
          <br>&nbsp;<br>
          <img src='/images/workbench/underConstruction_wikipedia_free_74x64.png' style='float:left; padding: 0px 4px 10px 4px; width:74px; height:64px;'>
          <div style='float: left; width: 288px; margin-top: 10px ; color: red;'>
          <br>
          <span style='color: red;'>Once development is complete, and testing and review carried out, the tool will be available for all users.</span>
        "
      })
  %>
  <%# Cancel Button %>
  <%= renderFrag(@toolIdStr, :wbToolButtons,
      {
        :buttons => [ { :type => :cancel} ]
      })
  %>
<%
  end # if(@hasAccess)
%>
