/* Small table view settings */
table.smallView {
  background-color: #F8F8F8;
  border-collapse: collapse;
  border: 2px solid #3a9ee0;
  font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*general*/
table.smallView th{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
  font-size: 9px;
  font-weight: bold;
  color: white;
  background-color: #3a9ee0;
  border: 1px solid #eeeeee;
  text-align: center;
}
/* Context settings */
table.smallView tr.name th.one{
  background-color: #000066;
  text-align: left;
  width: 140px;
}

table.smallView tr.name .rank1 {
  color: white;
  font-size: 10px;
}

table.smallView tr.name .rank2 {
  font-size: 9px;
  color: yellow;
}

table.smallView tr.name .rank3 {
  font-size: 8px;
  color: #FFFFCC;
}

table.smallView tr.name .rankX {
  font-size: 7px;
  color: black;
}


/* Column main cell */
table.smallView tr.rowHeaders th{
  background-color: #eeeeee;
  font-weight: bold;
  color: #3a9ee0;
  border: 1px solid #3a9ee0;
  height: 28px;
  text-align: center;
  font-size:9px;

}

table.smallView td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
  border: 1px solid #3a9ee0;
  width: 50px;
}


/******************************************/
/*Large Table settings*/
/******************************************/
table.largeView {
  background-color: #F8F8F8;
  Border-collapse: collapse;
  border: 3px solid #3a9ee0;
}

table.largeView th{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #3a9ee0;
  border: 1px solid #eeeeee;
  text-align: center;
 
}
/* Context settings to be change here*/
table.largeView tr.name th.one{
  background-color: #000066;
  width: 430px;
  text-align: left;
  color: #A52A2A;
}
table.largeView tr.name .rank1 {
  color: white;
}

table.largeView tr.name .rank2 {
  font-size: 13px;
  color: yellow;
}

table.largeView tr.name .rank3 {
  font-size: 12px;
  color: #FFFFCC;
}

table.largeView tr.name .rankX {
  font-size: 11px;
  color: black;
}

/* Column main cell */
table.largeView tr.rowHeaders th{
  background-color: #eeeeee;
  font-weight: bold;
  color: #3a9ee0;
  border: 1px solid #3a9ee0;
}

table.largeView td {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: white;
  border: 1px solid #3a9ee0;
}


table.largeView td.plain {
  font-weight: bold;
  color: #F89829;

}

div.exrna table.largeView tr.name th.one{
  background-color: #000066;
  width: 300px;
  text-align: left;
  color: #A52A2A;
}

div.exrna table.largeView th{
  width: 90px;
}

div.exrna table.smallView tr.name th.one{
  background-color: #000066;
  text-align: left;
  color: #A52A2A;
}

table.smallView td.plain {
  font-weight: bold;
  color: #F89829;
  font-size: 10px;
}

div.exrna table.smallView th{
  width: 50px;
}

div.exrna table.smallView tr.rowHeaders th{
  height: 20px;
}
